<p id="notice"><%= notice %></p>

<h1>Boqs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boqs.each do |boq| %>
      <tr>
        <td><%= boq.name %></td>
        <td><%= link_to 'Show', boq %></td>
        <td><%= link_to 'Edit', edit_boq_path(boq) %></td>
        <td><%= link_to 'Destroy', boq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boq', new_boq_path %>
