<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-12 mx-auto">

      <div class="text-center mb-4">
        <%= link_to 'Back', :back, class: 'btn btn-light float-left' %>
        <h4>Bill of Quantities for <%= @boq.name %></h4>
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <% @boq.pages.each_with_index do |page, index| %>
            <li class="nav-item">
              <a class="nav-link  <%= 'active' if index == 0 %>" id="page-<%= page.id %>-tab" data-toggle="tab"
                 href="#page-<%= page.id %>-content" role="tab" aria-controls="page-<%= page.id %>-tab-content">
                <%= page.name %>
              </a>
            </li>
        <% end %>
      </ul>

      <div class="tab-content" id="myTabContent">
        <% @boq.pages.each_with_index do |page, index| %>
            <div class="tab-pane <%= 'show active' if index == 0 %>"
                 id="page-<%= page.id %>-content" role="tabpanel" aria-labelledby="page-<%= page.id %>-tab">

              <div id="sheet-<%= page.id %>"></div>

            </div>
        <% end %>
      </div>


    </div>

  </div>

</div>