<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-12 mx-auto">

      <div class="text-center mb-4">
        <%= link_to 'Back', :back, class: 'btn btn-light float-left' %>
        <h4>Bill of Quantities for <%= @boq.name %></h4>
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <% @boq.pages.each_with_index do |page, index| %>
            <li class="nav-item">
              <a class="nav-link  <%= 'active' if index == 0 %>" id="page-<%= page.id %>-tab" data-toggle="tab"
                 href="#page-<%= page.id %>-content" role="tab" aria-controls="page-<%= page.id %>-tab-content">
                <%= page.name %>
              </a>
            </li>
        <% end %>
      </ul>

      <div class="tab-content" id="myTabContent">
        <% @boq.pages.each_with_index do |page, index| %>
            <div class="tab-pane <%= 'show active' if index == 0 %>"
                 id="page-<%= page.id %>-content" role="tabpanel" aria-labelledby="page-<%= page.id %>-tab">

              <div id="sheet-<%= page.id %>"></div>

              <script type="text/javascript" charset="utf-8">

                  var data<%= page.id %> = <%= page_as_json(page) %>;


                  var greenRenderer = function (instance, td, row, col, prop, value, cellProperties) {
                      Handsontable.renderers.TextRenderer.apply(this, arguments);
                      td.style.fontWeight = "bold";
                  };

                  var sectionHeaders = [
                      <% page.sections.each_with_index do |section, index| %>
                      {row: <%= index %>, col: 1, renderer: greenRenderer},
                      <% end %>
                  ];

                  var container = document.getElementById('sheet-<%= page.id %>');

                  var hot<%= page.id %> = new Handsontable(container, {
                      data: data<%= page.id %>,
                      cell: sectionHeaders,
                      colHeaders: ['Item', 'Description', 'Quantity', 'Unit', 'Rate', 'Amount'],
                      className: "htCenter",
                      columns: [
                          {
                              data: 'item',
                          },
                          {
                              data: 'description',
                              className: 'htLeft'
                          },
                          {
                              data: 'quantity'
                          },
                          {
                              data: 'unit'
                          },
                          {
                              data: 'rate',
                              readOnly: true
                          },
                          {
                              data: 'amount',
                              readOnly: true
                          }
                      ],
                      colWidths: [60, 412, 80, 42, 80, 80],
                      rowHeaders: true,
                      // colHeaders: true,
                      stretchH: 'all',
                      manualColumnResize: true,
                      manualRowResize: true,
                      // persistentState: true,
                      // manualColumnMove: true,
                      manualRowMove: true,
                      minSpareRows: 1,
                      contextMenu: ['row_above', 'row_below', 'remove_row', 'undo', 'redo', 'cut', 'copy']
                  });

                  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                      e.target // newly activated tab
                      e.relatedTarget // previous active tab
                      hot<%= page.id %>.render();
                  });
              </script>

            </div>
        <% end %>
      </div>


    </div>

  </div>

</div>