<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-2">
      <div class="text-center mb-4">
        <h2>Sign up as a contractor</h2>
        or
        <%= link_to 'sign in to your account',
                    new_session_path(resource_name) %>
      </div>

      <%= form_for(resource,
                   as: resource_name,
                   url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.email_field :email,
                            placeholder: 'Email address',
                            class: 'form-control',
                            id: 'email-registration',
                            required: true %>
        </div>

        <div class="form-group">
          <input type="tel"
                 name="phone"
                 id="phone_number_input"
                 value="<%= resource.phone_number %>"
                 placeholder="Phone number"
                 autocomplete="on"
                 required
                 class="form-control">
          <%= f.hidden_field :phone_number %>
        </div>

        <%= f.hidden_field :password, value: Devise.friendly_token.first(8) %>

        <br>

        <div class="actions">
          <%= f.submit "Sign up",
                       class: 'btn btn-accent btn-block',
                       data: { disable_with: "Signing Up" } %>
        </div>
      <% end %>

    </div>
  </div>
</div>