<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <div class="text-center mb-4">
        <h2>Resend confirmation instructions</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Email', class: 'form-control' %>
          </div>
          <br/>
          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-accent' %>
          </div>
        <% end %>

        <%= render "admins/shared/links" %>
      </div>
    </div>
  </div>
</div>
