<% if @tender.bill_of_quantities.present? %>
  <div id='hello'>
    <view-bid-boq
    tender-id="<%= @tender.id %>"
    :rates="<%= @tender.rates.to_json %>"
    :workbook-data="<%= @tender.workbook %>"
    currency="<%= currency_symbol @tender %>"
    qs-company-name="<%= @tender.project_owners_company_name %>"
    boq-contract-sum="<%= 100000 %>"
    ></view-bid-boq>
  </div>
<% end %>