<% if @participant.request_for_tender.bill_of_quantities.present? %>
  <div id='hello'>
    <view-bid-boq
    participant-id="<%= @participant.auth_token %>"
    :rates="<%= @participant.rates.to_json %>"
    :workbook-data="<%= @participant.workbook %>"
    currency="<%= @participant.request_for_tender.currency_symbol %>"
    qs-company-name="<%= @participant.request_for_tender.project_owners_company_name %>"
    boq-contract-sum="<%= 100000 %>"
    ></view-bid-boq>
  </div>
<% end %>