<div class="container" id="app">
  <div class="row">

    <div class="col-lg-9 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-9 mx-auto">

      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h4 class="card-title">
                  <%= @participant.company_name %>
                </h4>
                <p class="mb-1">
                  <%= @participant.email %> (<%= @participant.phone_number %>)
                </p>
              </div>
              <h4>
                <small>Total bid:</small>
                <%= humanized_money_with_symbol @participant.bid %>
              </h4>
            </div>
          </div>
        </ul>
      </div>
    </div>

  </div>

</div>