<p id="notice"><%= notice %></p>

<h1>Filled Items</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Rate</th>
      <th>Participant</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filled_items.each do |filled_item| %>
      <tr>
        <td><%= filled_item.rate %></td>
        <td><%= filled_item.participant %></td>
        <td><%= filled_item.item %></td>
        <td><%= link_to 'Show', filled_item %></td>
        <td><%= link_to 'Edit', edit_filled_item_path(filled_item) %></td>
        <td><%= link_to 'Destroy', filled_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filled Item', new_filled_item_path %>
