<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @filled_item.rate %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @filled_item.participant %>
</p>

<p>
  <strong>Item:</strong>
  <%= @filled_item.item %>
</p>

<%= link_to 'Edit', edit_filled_item_path(@filled_item) %> |
<%= link_to 'Back', filled_items_path %>
