<!DOCTYPE html>
<html lang="en">
<% content_for :title do %>
  <%= step.to_s.humanize %>/<%= @tender.project_name %> - TenderSwift
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= contractor_root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item text-truncate"
      style="max-width: 420px;">
    <a href="<%= tender_build_path(
                     @tender, :general_information
                 ) %>">
      <%= @tender.project_name %>
    </a>
  </li>
<% end %>


<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'contractors/navbar' %>

<%= render 'layouts/flash_messages' %>

<div class="content pb-5">

  <nav class="navbar navbar-light bg-light border-bottom justify-content-center
              d-flex d-sm-flex d-md-flex d-lg-none d-xl-none">
    <div class="navbar-text">
      <%= step.to_s.humanize %>
    </div>
  </nav>

  <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">

    <%= render 'contractors/page_head' %>

    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12 mx-auto">
          <nav class="nav nav-pills justify-content-center">
            <% wizard_steps.each_with_index do |wizard_step, index| %>
              <%= link_to "#{index + 1}. #{wizard_step.to_s.humanize}",
                          wizard_path(wizard_step),
                          class: "nav-item nav-link #{'active' if step == wizard_step}"%>
            <% end %>
          </nav>
        </div>
      </div>
    </div>

  </div>

  <%= yield %>

  <nav class="navbar fixed-bottom navbar-dark bg-primary
              d-block d-sm-block d-md-block d-lg-none d-xl-none">
    <div class="navbar-nav flex-row w-100 justify-content-between">

      <% unless step == wizard_steps.first %>
        <a class="nav-item nav-link"
           href="<%= previous_wizard_path %>">
          <span class="fa fa-chevron-left"></span>
          Previous
        </a>
      <% end %>

      <% unless step == wizard_steps.last %>
        <a class="nav-item nav-link"
           href="<%= next_wizard_path %>">
          Next
          <span class="fa fa-chevron-right"></span>
        </a>
      <% else %>
        <button class="btn btn-sm btn-secondary text-capitalize"
                       onclick="$('#document-upload-form').trigger('submit.rails')">
          Submit
        </button>
      <% end %>

    </div>
  </nav>

</div>

</body>
</html>