<!DOCTYPE html>
<html lang="en">
<% content_for :title do %>
  <%= step.to_s.humanize %>/<%= @tender.project_name %> - TenderSwift
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= contractor_root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item text-truncate"
      style="max-width: 420px;">
    <a href="<%= tender_build_path(
                     @tender, :general_information
                 ) %>">
      <%= @tender.project_name %>
    </a>
  </li>
<% end %>


<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'contractors/navbar' %>

<div class="content">

  <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
    <%= render 'contractors/page_head' %>
  </div>

  <nav class="navbar navbar-light bg-light border-bottom justify-content-center
              d-flex d-sm-flex d-md-flex d-lg-none d-xl-none">
    <div class="navbar-text">
      <%= step.to_s.humanize %>
    </div>
  </nav>


  <div class="container">
    <div class="row mt-4">

      <div class="col-lg-12 mx-auto
                  d-none d-sm-none d-md-none d-lg-block d-xl-block">

        <nav class="nav nav-pills nav-justified">
          <% index = 0 %>
          <% wizard_steps.each do |wizard_step| %>
            <% if !@tender.request_for_tender.list_of_rates? && wizard_step.eql?(:bill_of_quantities)%>
              <% next %>
            <% else %>
              <%= link_to "#{index + 1}. #{wizard_step.to_s.humanize}",
                          wizard_path(wizard_step),
                          class: "nav-item nav-link #{'active' if step == wizard_step}" %>
              <% index = index + 1 %>
            <% end %>
          <% end %>
        </nav>

        <hr>
      </div>

      <div class="col-lg-12 mx-auto">
        <%= render 'layouts/flash_messages' %>

        <%= yield %>
      </div>

      <div class="col-lg-12 mx-auto
                  d-none d-sm-none d-md-none d-lg-block d-xl-block">
        <hr>
        <div class="d-flex align-items-center">
          <% unless step == wizard_steps.first %>
            <%= link_to 'Previous', previous_wizard_path %>
          <% end %>

          <% unless step == wizard_steps.last %>
            <%= link_to 'Next', next_wizard_path,
                        class: 'btn btn-accent ml-auto' %>
          <% else %>
            <%= button_to 'Submit your bid',
                          {
                              url: wizard_path
                          },
                          {
                              form_class: 'ml-auto',
                              class: 'btn btn-accent',
                              method: :put,
                              remote: true
                          }
            %>
          <% end %>
        </div>

      </div>

    </div>
  </div>

</div>

<nav class="navbar fixed-bottom navbar-dark bg-primary
              d-block d-sm-block d-md-block d-lg-none d-xl-none">
  <div class="navbar-nav d-flex flex-row">

    <% unless step == wizard_steps.first %>
      <a class="nav-item nav-link"
         href="<%= previous_wizard_path %>">
        <span class="fa fa-chevron-left"></span>
        Previous
      </a>
    <% end %>

    <% unless step == wizard_steps.last %>
      <a class="nav-item nav-link ml-auto"
         href="<%= next_wizard_path %>">
        Next
        <span class="fa fa-chevron-right"></span>
      </a>
    <% else %>
      <%= button_to 'Submit your bid',
                    {
                        url: wizard_path
                    },
                    {
                        form_class: 'ml-auto',
                        class: 'btn btn-accent',
                        method: :put,
                        remote: true
                    }
      %>
    <% end %>

  </div>
</nav>

<%= render 'layouts/end_of_body_scripts' %>

</body>
</html>