<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="tab-content mt-4">

        <%= form_with model: @tender,
                      scope: :tender,
                      method: :patch,
                      url: tenders_save_contractors_documents_path(@tender),
                      local: true,
                      id: 'document-upload-form' do |f| %>

          <% if @tender.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @tender.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <p class="font-weight-bold">Upload required documents</p>
          <hr>

          <div id="required-documents" class="mb-5">
            <%= f.fields_for :required_document_uploads do |required_document_upload| %>

              <%= required_document_upload.hidden_field :required_document_id,
                                                        value: required_document_upload.object.required_document_id %>

              <% if required_document_upload.object.document? %>

                <div class="form-row mb-2">
                  <div class="col-sm-6">
                    <%= required_document_upload.object.required_document.title %>
                  </div>

                  <div class="col-sm-4">
                    <%= link_to 'View file', required_document_upload.object.document.url, target: '_blank', class: 'px-3' %>
                  </div>

                  <div class="col-sm-2">
                    <%= link_to_remove_association f, class: 'btn close float-none' do %>
                      <span aria-hidden="true">&times;</span>
                    <% end %>
                  </div>
                </div>

              <% else %>

                <div class="form-row mb-2">
                  <div class="col-sm-6">
                    <%= required_document_upload.object.required_document.title %>
                  </div>

                  <div class="col-sm-4">
                    <%= required_document_upload.file_field :document, class: 'form-control-file form-control-sm' %>
                  </div>

                  <div class="col-sm-2">
                    <%= f.submit 'Add', class: 'btn btn-sm btn-primary' %>
                  </div>
                </div>

              <% end %>

            <% end %>
          </div>

          <p class="font-weight-bold">Add other documents</p>
          <hr>

          <div id="other-documents" class="nested-forms">
            <%= f.fields_for :other_document_uploads do |other_document_upload| %>
              <%= render 'other_document_upload_fields', f: other_document_upload %>
            <% end %>
          </div>


          <%= link_to_add_association 'Add another document', f, :other_document_uploads,
                                      class: 'btn btn-sm btn-block btn-primary mt-3',
                                      data: {
                                          'association-insertion-node': '#other-documents',
                                          'association-insertion-method': 'after'
                                      } %>

        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
    $('#other-documents').on('cocoon:after-remove', function(e, insertedItem) {
        $('#document-upload-form').trigger('submit.rails');
    });
</script>