<%= form_with url: purchase_path(@request_for_tender),
              id: 'login-and-purchase-form',
              local: true do |form| %>
  <!--  TODO: Submit this form via ajax and display errors using JS-->

  <div class="form-group">
    <%= form.label :network_code, 'Mode of payment' %>
    <%= form.select :network_code,
                    options_for_select({
                                           'Airtel Money': 'AIR',
                                           'MTN Mobile Money': 'MTN',
                                           'Tigo Cash': 'TIG',
                                           'Vodafone Cash': 'VOD'
                                       }),
                    {},
                    {
                        selected: 'Airtel Money',
                        id: :login_network_code,
                        class: 'form-control form-control-sm network-select',
                        required: true
                    } %>
  </div>

  <div class="form-group">
    <%= form.label :customer_number, 'Mobile money number' %>
    <%= form.telephone_field :customer_number,
                             id: :login_customer_number,
                             class: 'form-control form-control-sm',
                             required: true %>
  </div>

  <div class="form-group voucher-code">
    <%= form.label :vodafone_voucher_code, 'Voucher code' %>
    <%= form.text_field :vodafone_voucher_code,
                        id: :login_vodafone_voucher_code,
                        class: 'form-control form-control-sm',
                        required: true %>
  </div>

  <%= form.submit 'Purchase', class: 'btn btn-secondary btn-block mt-5' %>

<% end %>


<script>
    //     $(document).ready( function () {
    //         $('.voucher-code').each( function () {
    //             $(this).css('display', 'none');
    //         });
    //         $('.mobile-money-number').each( function () {
    //             $(this).css('display', 'inherit');
    //         });
    //
    //         $('.network-select').change( function (e) {
    //             if($('.network-select').val() == 'VOD'){
    //                 $('.voucher-code').each( function () {
    //                     $(this).css('display', 'inherit');
    //                 });
    //                 $('.mobile-money-number').each( function () {
    //                     $(this).css('display', 'inherit');
    //                 });
    //             }
    //             else if($('.network-select').val() == 'CRD'){
    //                 $('.voucher-code').each( function () {
    //                     $(this).css('display', 'none');
    //                 });
    //                 $('.mobile-money-number').each( function () {
    //                     $(this).css('display', 'none');
    //                 });
    //             }
    //             else{
    //                 $('.voucher-code').each( function () {
    //                     $(this).css('display', 'none');
    //                 });
    //                 $('.mobile-money-number').each( function () {
    //                     $(this).css('display', 'inherit');
    //                 });
    //             }
    //         });
    //
    //     });
</script>