<%= form_with url: purchase_tender_path(@request_for_tender),
              id: 'purchase-form',
              local: false do |form| %>

  <p id="purchase-errors" class="text-danger d-none"><p>

  <% unless current_contractor %>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email,
                           id: :email,
                           placeholder: 'this@example.com',
                           class: 'form-control form-control-sm' %>
    </div>

    <div id="password-field-group" class="form-group d-none">
      <%= form.label :password %>
      <%= form.password_field :password,
                              id: :password,
                              class: 'form-control form-control-sm' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :network_code, 'Mode of payment' %>
    <%= form.select :network_code,
                    options_for_select(
                        {
                            'Airtel Money': 'AIR',
                            'MTN Mobile Money': 'MTN',
                            'Tigo Cash': 'TIG',
                            'Vodafone Cash': 'VOD'
                        },
                        'MTN'
                    ),
                    {},
                    {
                        selected: 'Airtel Money',
                        id: :network_code,
                        class: 'form-control form-control-sm',
                        required: true
                    } %>
  </div>

  <div class="form-group">
    <%= form.label :customer_number, 'Phone number' %>
    <%= form.telephone_field :customer_number,
                             id: :customer_number,
                             placeholder: 'Example: 0541234567',
                             class: 'form-control form-control-sm',
                             autocomplete: 'tel',
                             pattern: "[0-9]{10}",
                             'aria-describedby': 'telephoneHelp',
                             required: true %>
    <small id="telephoneHelp" class="form-text text-muted">
      Enter the mobile money number we should take the money from above.
      It should be exactly 10 digits long, in the format 054xxxxxxx.
    </small>
  </div>

  <div id="voucher-field-group" class="form-group d-none">
    <%= form.label :vodafone_voucher_code, 'Voucher code' %>
    <%= form.text_field :vodafone_voucher_code,
                        id: :vodafone_voucher_code,
                        placeholder: '123456',
                        'aria-describedby': 'voucherHelp',
                        class: 'form-control form-control-sm' %>
    <small id="voucherHelp" class="form-text text-muted">
      1. Dial *110# on your phone. <br>
      2. Choose 'Generate Voucher' and wait for the SMS. <br>
      3. Enter the voucher code in the space provided above.
    </small>
  </div>

  <%= button_tag 'Purchase',
                 id: :make_purchase_button,
                 class: 'btn btn-secondary btn-block mt-5' %>

<% end %>