<script src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
<table class="text-right mb-4 mx-auto">

  <tr>
    <td class="pr-2">
      Price of tender:
    </td>
    <td>
      <%= @request_for_tender.selling_price %>
    </td>
  </tr>

  <tr>
    <td class="pr-2">
      Electronic payment charge:
    </td>
    <td id="korbaweb-charge">
      <%= @request_for_tender.payment_gateway_charge %>
    </td>
  </tr>

  <tr class="border-bottom">
    <td class="pr-2">
      Cloud service charge:
    </td>
    <td id="service-charge">
      <%= @request_for_tender.cloud_service_charge %>
    </td>
  </tr>

  <tr>
    <td class="pr-2">
      Amount to be deducted (<%= @request_for_tender.tender_currency %>):
    </td>
    <td id="total-cost">
      <%= @request_for_tender.amount_to_be_deducted %>
    </td>
  </tr>

</table>


<%= form_with url: purchase_tender_path(@request_for_tender),
              id: 'purchase-form',
              local: false do |form| %>

  <p id="purchase-errors" class="text-danger d-none"></p>

  <% unless current_contractor %>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email,
                           id: :email,
                           placeholder: 'e.g. procurement@company.com',
                           class: 'form-control form-control-sm' %>
    </div>

    <div id="password-field-group" class="form-group d-none">
      <%= form.label :password %>
      <%= form.password_field :password,
                              id: :password,
                              class: 'form-control form-control-sm' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :customer_number, 'Phone number' %>
    <%= form.telephone_field :customer_number,
                             id: :customer_number,
                             placeholder: 'e.g. 0541234567',
                             class: 'form-control form-control-sm',
                             autocomplete: 'tel',
                             pattern: "[0-9]{10}",
                             'aria-describedby': 'telephoneHelp',
                             required: true %>
    <small id="telephoneHelp" class="form-text text-muted">
      Your phone number should be exactly 10 digits long, in the format
      054xxxxxxx.
    </small>
  </div>

  <div id="voucher-field-group" class="form-group d-none">
    <%= form.label :vodafone_voucher_code, 'Voucher code' %>
    <%= form.text_field :vodafone_voucher_code,
                        id: :vodafone_voucher_code,
                        placeholder: '123456',
                        'aria-describedby': 'voucherHelp',
                        class: 'form-control form-control-sm' %>
    <small id="voucherHelp" class="form-text text-muted">
      1. Dial *110# on your phone. <br>
      2. Choose 'Generate Voucher' and wait for the SMS. <br>
      3. Enter the voucher code in the space provided.
    </small>
  </div>

  <button type="button" id="make_purchase_button" class="btn btn-accent btn-block mt-3"
          onClick="payWithRave()">Continue</button>

  <% button_tag 'Continue',
                 id: :make_purchase_button,
                 class: 'btn btn-accent btn-block mt-3' %>

<% end %>



<script>
  const API_publicKey = "FLWPUBK-207b28f99def5b0533a3dd56d99ae748-X";

  function generateRandomCode(length) {
    return Math.floor(Math.pow(10, length-1) + Math.random() * 9 * Math.pow(10, length-1));
  }

  function payWithRave(e) {
    let email;
    if (document.getElementById('email') == null ){
      email = "<%= current_contractor.email %>"
    }
    else {
      email = document.getElementById("email").value;
    }
    let customer_number = document.getElementById("customer_number").value;
    let txtref =  generateRandomCode(12);
    console.log(txtref);
    $("#paymentModal").modal('hide');
    var x = getpaidSetup({
      PBFPubKey: API_publicKey,
      customer_email: email,
      amount: <%= @request_for_tender.amount_to_be_deducted %>,
      customer_phone: customer_number,
      currency: "<%= @request_for_tender.tender_currency %>",
      country: "GH",
      payment_options: "mobilemoneyghana,card,mpesa",
      txref: txtref,
      meta: [{
        metaname: "flightID",
        metavalue: "AP1234"
      }],
      onclose: function() {},
      callback: function(response) {
        var txref = response.tx.txRef; // collect flwRef returned and pass to a 					server page to complete status check.
        console.log("This is the response returned after a charge", response);
        if (
          response.tx.chargeResponseCode == "00" ||
          response.tx.chargeResponseCode == "0"
        ) {
          // redirect to a success page
          id = <%= @request_for_tender.id %>
          window.location.href = "/purchase_tender/"+ id
            +"/payment?email="+email+"&customer_number\="+customer_number
            +"&txtref="+txref
        } else {
          // redirect to a failure page.
        }

        x.close(); // use this to close the modal immediately after payment.
      }
    });
  }
</script>