<% content_for :modals do %>
  <div class="modal
    <% 'fade' unless Rails.env.test? %>"
       id="paymentModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="paymentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body pt-2">
          <div class="d-flex justify-content-end">
            <button id="purchaseFormClose"
                    type="button"
                    class="close float-right"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <% if @request_for_tender.selling_price == 0 %>
            <%= render 'purchase_tender/purchase_form_2' %>
          <% else %>
            <%= render 'purchase_tender/purchase_form' %>
          <% end %>

          <button id="cancelButton"
                  type="button"
                  class="btn btn-default btn-block mt-2"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="tab-content">

  <div class="row d-flex flex-wrap justify-content-between
                  align-items-baseline mb-3">

    <div class="col-md-7 col-lg-7
               text-center text-md-left text-lg-left mb-2">
      <a href="<%= contractor_root_path %>">
        <% if @request_for_tender.selling_price == 0 %>
          Click here if you've already started bidding on this tender
        <% else %>
          Purchase this tender for
          Click here if you've already purchased this tender
        <% end %>
      </a>
    </div>

    <div class="col-md-5 col-lg-5">
      <button class="btn btn-sm btn-block btn-accent"
              id="purchase-button"
              data-toggle="modal"
              data-target="#paymentModal"
              data-backdrop="static"
              data-keyboard="false">
        <% if @request_for_tender.selling_price == 0 %>
          Bid on this request for tender
        <% else %>
          Purchase this tender for
          GH₵ <%= @request_for_tender.selling_price %>
        <% end %>
      </button>
    </div>

  </div>

  <%= render 'request_for_tenders/public_request_for_tender_information',
             request_for_tender: @request_for_tender %>
</div>