<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="#">
      <%= @request_for_tender.project_owners_company_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @request_for_tender.project_name %>
  </li>
<% end %>

<% content_for :action_items do %>

  <% if current_contractor %>
    <div class="mt-2 ml-auto">
      <button class="btn btn-sm btn-secondary"
              id="purchase-button"
              data-toggle="modal"
              data-target="#paymentModal"
              data-backdrop="static"
              data-keyboard="false">
        Purchase Tender Documents for
        GH₵ <%= @request_for_tender.selling_price %>
      </button>
    </div>
  <% else %>
    <div class="mt-2 ml-auto">
      <a class="btn btn-sm btn-secondary"
         href="<%= new_contractor_session_path %>">
        Purchase Tender Documents for
        GH₵ <%= @request_for_tender.selling_price %>
      </a>
    </div>
  <% end %>
<% end %>

<% content_for :nav_tabs do %>
  <nav class="nav justify-content-center">
    <a class="nav-item nav-link active" href="#">
      1. Project Information
    </a>
    <a class="nav-item nav-link disabled"
       href="#"
       data-toggle="tooltip"
       data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      2. Tender Documents
    </a>
    <a class="nav-item nav-link disabled"
       href="#"
       data-toggle="tooltip"
       data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      3. Bill of Quantities
    </a>
    <a class="nav-item nav-link disabled"
       href="#"
       data-toggle="tooltip"
       data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      4. Upload Documents
    </a>
  </nav>
<% end %>


<% content_for :modals do %>
  <div class="modal fade"
       id="paymentModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="paymentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Purchase Tender Documents for
            GH₵ <%= @request_for_tender.selling_price %>
          </h5>
          <button id="purchaseFormClose"
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 mx-auto pt-3 pb-5">
              <%= render 'purchase_tender/purchase_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'request_for_tenders/public_information',
           request_for_tender: @request_for_tender %>