<p class="hidden-request-id"><%= @participant.request_for_tender.id %></p>
<div class="message-board mb-4">
  <ul class="nav nav-tabs" id="messageBoardTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
    </li>
  </ul>
    <div class="tab-content pt-3" id="messageBoardContents">
      <div class="tab-pane fade show active" role="tabpanel" id="messages" aria-labelledby="home-tab">
        <br>

        <% @participant.request_for_tender.chatroom.broadcast_messages.each do |broadcast| %>
          <div class="card" id="<%= broadcast.id %>">
            <div class="card-body">
              <h4 class="card-title"><span class="fa fa-bullhorn"></span></h4>
              <h6 class="card-subtitle mb-2 text-muted">All Participants</h6>
              <p class="card-text"><%= broadcast.content %></p>
              <small class="float-left bolden">
                  <span class="fa fa-time"></span>
                  <%= broadcast.created_at.to_formatted_s(:long) %>
              </small>
              <small class="bolden"><a href="#" class="card-link float-right reply-link">Reply</a></small>
              <br/>
              <br/>
              <ul class="list-group list-group-flush message-thread">
                <% broadcast.messages.each do |message| %>
                  <% unless message.participant.nil? %>
                     <% if message.participant.id == @participant.id %>
                      <% if message.sender == 'participant' %> 
                        <li class="list-group-item">
                          <h5><%= message.participant.company_name %></h5>
                          <span><%= message.content %></span>
                        </li>
                      <% elsif message.sender == 'quantity_surveyor' %>
                       <li class="list-group-item">
                        <h5><%= @participant.request_for_tender.quantity_surveyor.company_name %></h5>
                        <span><%= message.content %></span>
                       </li>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <br>
        <% end %>

        <div class="new-broadcast-messages">
        </div>


    </div>
  </div>
</div>


<script>
var iddOfSelectedCard;
$('.reply-link').click(function(e){
  e.preventDefault();
  var parents = $(this).parents();
  var card = parents[2];
  var hiddenLink = $('.reply-link.hide_link');
  hiddenLink.removeClass('hide_link');
  $(this).addClass('hide_link');
  iddOfSelectedCard = card.id;
  if ($('#reply-message-input').length == 1){ //if there is already a message input in the DOM
    $('#reply-message-input').detach(); //remove and reply input that's avialiable in the DOM
  }
  var messageInput = $(
        '<br/>\n'+
        '<div id="reply-message-input" class="card">\n' +
        '  <div class="card-body">\n' +
        '   <div class="row"> \n'+
        '     <div class="col-md-9"> \n'+
        '       <textarea id="reply-message-text" class="form-control" style="margin-top:2%;"></textarea>\n'+
        '     </div>\n'+
        '     <div class="col-md-3">\n'+
        '       <small class="float-right">\n'+
        '           <span class="fa fa-time"></span>\n'+
        '       </small>\n'+
        '       <button id="send-reply-message" class="pull-left btn btn-primary form-control reply-message">Send Reply</button>\n'+
        '     </div>\n'+
        '   </div>\n'+
        '  </div>\n'+
        '</div>');

  $('#'+iddOfSelectedCard+'').append(messageInput);


    $('#send-reply-message').click(function(e){
    e.preventDefault();
    if($('#reply-message-text').val().length > 1){
      $('#send-reply-message').prop('disabled', true);
      $('#send-reply-message').html("Sending...");
      $.ajax({
            url: "/messages/",
            type: "POST",
            data: { 
              message: {
                        broadcast_message_id: iddOfSelectedCard,
                        participant_id: <%= @participant.id %>,
                        content: $('#reply-message-text').val(),
                        sender: 'participant'
                        }
                },
            success: function(messageObject){ 
              $('#reply-message-input').replaceWith(
                '</li>\n'+
                '<li class="list-group-item message-thread">\n'+
                    '<h5><%= @participant.company_name %></h5>\n'+
                    '<span>'+$('#reply-message-text').val()+'</span>\n'+
                '</li>'
              );
              //$('#send-reply-message').prop('disabled', false);
              //$("#send-reply-message").html("Send Message");
            },
            fail: function(response){
              alert("Failed to send message check you internet connection.");
              $('#send-reply-message').prop('disabled', false);
              $("#send-reply-message").html("Send Message");
            }
        });
    }
  });
  
});



</script>

<script>
  var isScroll = window.location.href.split('=')[1];
  isScroll = Boolean(isScroll);
  if(isScroll == true){
    $("html, body").animate({ scrollTop: $(document).height() }, 1000);
  }
</script>
