<div class="card mb-4">

  <div class="card-header">
    Project Description
  </div>
  <div class="card-body">
    <p class="mb-1">
      <%= simple_format @participant.project_description %>
    </p>
  </div>


  <div class="card-header">
    Project Documents
  </div>
  <ul class="list-group list-group-flush">
    <% @participant.project_documents.each do |project_document| %>
        <li class="list-group-item d-flex w-100 justify-content-between">
          <%= project_document.document.file.filename %>
          <%= link_to 'View', project_document.document.url, target: '_blank',
                      class: 'btn btn-sm btn-light' %>
        </li>
    <% end %>
  </ul>


  <div class="card-body">
    <div class="d-flex w-100 justify-content-between">
      <%= link_to 'Decline project', show_disinterest_in_request_for_tender_path(@participant),
                  class: 'btn btn-danger ml-auto',
                  data: {confirm: 'Declining this project means you will no longer be participating in tendering for this project. Are you sure you want to do so?'} %>

      <% unless @participant.status.in? %w(participating bid_made) %>
          <%= link_to 'Accept project', show_interest_in_request_for_tender_path(@participant),
                      class: 'btn btn-success ml-2' %>
      <% end %>
    </div>
  </div>

</div>