<div class="card mb-4">
  <div class="card-body">

    <h4 class="card-title"><%= project.project_name %></h4>

    <p>
      <%= project.project_location %>
    </p>

    <small>
      <strong>Contract Sum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;
      <%= project.contract_sum_currency %>
      <%= project.contract_sum %>
    </small>

    <small>
      <p class="mb-1">
        <strong>Project Consultant&nbsp;</strong>&nbsp;&nbsp;
        <%= project.project_owners_name %>
      </p>
    </small>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-4">
          <strong>Time left</strong>
        </div>
        <div class="col-lg-8">
          <strong>End date</strong>
        </div>
        <div class="col-lg-4">
          <%= project.time_left %>
        </div>
        <div class="col-lg-8">
          <%= project.project_deadline.to_formatted_s(:long) %>
          <span class="ml-3">(UTC+00:00)</span>
        </div>

      </div>
    </li>
  </ul>
</div>