<% if @participant.status.in? %w(participating bid_made) %>
    
    <div class="card mb-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <% @participant.boq.pages.each_with_index do |page, index| %>
              <li class="nav-item">
                <a class="nav-link  <%= 'active' if index == 0 %>" id="page-<%= page.id %>-tab" data-toggle="tab"
                   href="#page-<%= page.id %>-content" role="tab" aria-controls="page-<%= page.id %>-tab-content">
                  <%= page.name %>
                </a>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-content mb-5" id="myTabContent">
        <% @participant.boq.pages.each_with_index do |page, index| %>
            <div class="tab-pane <%= 'show active' if index == 0 %>"
                 id="page-<%= page.id %>-content" role="tabpanel" aria-labelledby="page-<%= page.id %>-tab">

              <div id="sheet-<%= page.id %>"></div>

            </div>
        <% end %>
      </div>
    </div>

<% end %>