<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="tab-content mt-4">
        <%= form_with model: @participant,
                      scope: :participant,
                      method: :post,
                      url: participants_upload_required_documents_path(@participant),
                      local: true,
                      id: 'required-document-upload-form' do |form| %>

          <div class="card-body">
            <table class="table">

              <tbody>
              <%= form.fields_for :required_document_uploads do |required_document_upload| %>
                <tr>

                  <td>
                    <%= required_document_upload.object.required_document.title  %>
                  </td>

                  <% if required_document_upload.object.document? %>
                    <td>
                      <%= link_to 'View', required_document_upload.object.document.url, target: '_blank' %>
                    </td>
                    <td>
                      <%= required_document_upload.file_field :document, class: 'form-control-file form-control-sm mb-2', data: {'save-on-change': true} %>
                      <%= required_document_upload.text_field :required_document_id, value: required_document_upload.object.required_document.id, type: 'hidden' %>
                    </td>
                  <% else %>
                    <td></td>
                    <td>
                      <%= required_document_upload.text_field :required_document_id, value: required_document_upload.object.required_document.id, type: 'hidden' %>
                      <%= required_document_upload.file_field :document, class: 'form-control-file form-control-sm mb-2', data: {'save-on-change': true} %>
                    </td>
                  <% end %>

                </tr>
                <% end %>
              </tbody>
            </table>
            <%= form.submit 'Save', class: 'pull-right btn btn-success' %>
        <% end %>
          <%= render 'other_documents' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $('.submit-your-bid').attr('disabled', 'disabled');
</script>