<div class="container-fluid bg-secondary p-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto d-flex w-100 justify-content-between">

        <% if @participant.participating? %>
            <%= link_to 'MAKE BID', participant_boq_path(@participant),
                        class: 'btn btn-lg btn-success' %>
        <% else %>
            <%= link_to 'MAKE BID', show_interest_in_request_for_tender_path(@participant),
                        class: 'btn btn-lg btn-success' %>
        <% end %>

        <%= link_to 'I DO NOT WANT TO PARTICIPATE', show_disinterest_in_request_for_tender_path(@participant),
                    class: 'btn btn-lg btn-light' %>

      </div>
    </div>
  </div>
</div>

<div class="container" id="app">
  <div class="row">

    <% unless @participant.participating? %>
        <div class="col-lg-8 mx-auto">
          <div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Click on <strong>Make Bid</strong> to start composing your bid.
            Need help?
          </div>
        </div>
    <% end %>

    <div class="col-lg-8 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-8 mx-auto">

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title"><%= @participant.project_name %></h4>
          <p>
            <%= @participant.project_location %>
          </p>

          <small>
            <p class="mb-1">
              <strong>Project Owner:</strong>
              <%= @participant.project_owners_name %>
            </p>
          </small>

          <small>
            <strong>Contact:</strong>
            <%= @participant.project_owners_phone_number %>
          </small>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-4">
                <strong>Time left</strong>
              </div>
              <div class="col-lg-8">
                <strong>End date</strong>
              </div>
              <div class="col-lg-4">
                <%= @participant.time_left %>
              </div>
              <div class="col-lg-8">
                <%= @participant.project_deadline.to_formatted_s(:long) %>
                <span class="ml-3">(UTC+00:00)</span>
              </div>

            </div>
          </li>
        </ul>
      </div>

      <div class="card mb-4">

        <div class="card-header">
          Project Description
        </div>
        <div class="card-body">
          <p class="mb-1">
            <%= simple_format @participant.project_description %>
          </p>
        </div>


        <div class="card-header">
          Project Documents
        </div>
        <ul class="list-group list-group-flush">
          <% @participant.project_documents.each do |project_document| %>
              <li class="list-group-item d-flex w-100 justify-content-between">
                <%= project_document.document.file.filename %>
                <%= link_to 'View', project_document.document.url, target: '_blank',
                            class: 'btn btn-sm btn-light' %>
              </li>
          <% end %>
        </ul>
        <div class="card-body">
          <% if @participant.participating? %>
              <%= link_to 'MAKE BID', participant_boq_path(@participant),
                          class: 'btn btn-lg btn-success float-right' %>
          <% else %>
              <%= link_to 'MAKE BID', show_interest_in_request_for_tender_path(@participant),
                          class: 'btn btn-lg btn-success float-right' %>
          <% end %>
        </div>
      </div>


    </div>

  </div>

</div>