<div class="container" id="app">
  <div class="row">

    <div class="col-lg-11 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-9 ml-auto">

      <%= render 'participant_summary' %>

      <%= render 'participant_details' %>

      <%= render 'request_for_tenders/message_board', request: @participant.request_for_tender %>

    </div>

    <div class="col-lg-2 mr-auto">
      <%= link_to 'Back',  request_for_tender_path(@participant.request_for_tender), class: 'btn btn-block btn-large btn-light btn-raised' %>
    </div>

  </div>

</div>