<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item active" aria-current="page">
    Home
  </li>
<% end %>

<div class="row">

  <div class="col-md-4 ml-md-auto mr-md-auto pt-4"
       id="unpublished-request-for-tenders">
    <div class="ml-4 mb-2 text-center">
      <small style="font-size: 100%;" class="text-danger">
        Unpublished requests for tender
      </small>
    </div>
    <div class="card mb-4">
      <div class="list-group list-group-flush">
        <%= button_to request_for_tender_build_index_path('new'),
                      method: :post,
                      class: 'btn btn-block btn-link' do %>
          <div class="card-body text-center">
            Create request for tender
          </div>
        <% end %>
        <% current_publisher
               .request_for_tenders
               .not_published
               .each do |request_for_tender| %>
          <%= link_to request_for_tender_build_path(request_for_tender,
                                                    :general_information),
                      class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <%= request_for_tender.project_name %>
              </h5>
              <small class="text-muted">
                <% if request_for_tender.submitted? %>
                      <span class="badge badge-pill badge-accent">
                        publishing...
                      </span>
                <% else %>
                      <span class="badge badge-pill badge-primary">
                        draft
                      </span>
                <% end %>
              </small>
            </div>
            <small class="text-muted">
              <%= project_location request_for_tender %>
            </small>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col-md-4 ml-md-auto mr-md-auto pt-4"
       id="published-request-for-tenders">
    <div class="ml-4 mb-2 text-center">
      <small style="font-size: 100%;">Published requests for tender</small>
    </div>
    <div class="card">
      <div class="list-group list-group-flush">
        <% current_publisher
               .request_for_tenders
               .published
               .each do |request_for_tender| %>
          <% unless request_for_tender.deadline.past? %>
            <%= link_to request_for_tender,
                        class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <%= request_for_tender.project_name %>
                </h5>
                <small class="text-muted">
                  <% if !request_for_tender.published? %>
                      <span class="badge badge-pill badge-accent">
                        <%= status request_for_tender %>
                      </span>
                  <% else %>
                      <span class="badge badge-pill badge-warning">
                        <%= status request_for_tender %>
                      </span>
                  <% end %>
                </small>
              </div>
              <small class="text-muted">
                <%= project_location request_for_tender %>
              </small>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col-md-4 ml-md-auto mr-md-auto pt-4"
       id="closed-request-for-tenders">
    <div class="ml-4 mb-2 text-center">
      <small style="font-size: 100%;" class="text-success">
        Closed requests for tender
      </small>
    </div>
    <div class="card">
      <div class="list-group list-group-flush">
        <% current_publisher
               .request_for_tenders
               .published
               .each do |request_for_tender| %>
          <% if request_for_tender.deadline.past? %>
            <%= link_to request_for_tender,
                        class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <%= request_for_tender.project_name %>
                </h5>
                <small class="text-muted">
                  <% if !request_for_tender.published? %>
                      <span class="badge badge-pill badge-accent">
                        <%= status request_for_tender %>
                      </span>
                  <% elsif request_for_tender.deadline.past? %>
                      <span class="badge badge-pill badge-success">
                        <%= status request_for_tender %>
                      </span>
                  <% else %>
                      <span class="badge badge-pill badge-warning">
                        <%= status request_for_tender %>
                      </span>
                  <% end %>
                </small>
              </div>
              <small class="text-muted">
                <%= project_location request_for_tender %>
              </small>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>