<% if current_contractor %>
  <% content_for :title do %>
    <%= current_contractor.company_name %>
  <% end %>
<% end %>

<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'contractors/navbar' %>

<div class="content d-flex align-items-center">

  <div class="container" style="margin-bottom: 128px !important;">
    <div class="row">

      <div class="col-md-8 col-lg-6 mx-auto text-center" id="search-wrapper">

        <%= render 'layouts/flash_messages' %>

        <img src="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_48/v1520926501/tenderswift-logo.png"
             alt="TenderSwift"
             class="img-fluid big-logo mb-4">

        <%= form_with url: find_request_for_tender_path,
                      method: :get,
                      local: true do |form| %>
          <div class="input-group">
            <%= form.text_field :reference_number,
                                class: 'form-control',
                                placeholder: 'Find a tender by reference number' %>
            <div class="input-group-append">
              <%= button_tag 'Go',
                             type: 'submit',
                             class: 'btn btn-outline-success',
                             id: 'search' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-12 text-center mt-4">
        Are you a procurement officer?
        <a href="https://www.tenderswift.com" class="">
          Click here
        </a>
      </div>

    </div>
  </div>
</div>

<footer class="d-flex justify-content-center py-2 bg-light">
  <a href="https://www.tenderswift.com" class="text-primary">
    &copy; 2017 TenderSwift &middot; All Rights Reserved
  </a>
</footer>

</body>
</html>



