<div class="container" id="app">
  <div class="row">

    <div class="col-lg-11 mx-auto" id="notice-area" style="height: 80px;">
      <p id="notice"><%= notice %></p>
    </div>

    <% if @request.submitted? %>

        <div class="col-lg-8 ml-auto">

          <%= render 'request_status_summary' %>

          <%= render 'request_status_detail' %>

          <% render 'message_board' %>

        </div>

        <div class="col-lg-3 mr-auto">
          <%= link_to 'Back',  requests_path, class: 'btn btn-block btn-large btn-light btn-raised' %>
        </div>

    <% else %>

        <div class="col-lg-8 ml-auto">
          <%= render 'form', request: @request, title: 'Create Request' %>
        </div>

        <div class="col-lg-3 mr-auto">
          <%= link_to 'Back',  requests_path, class: 'btn btn-block btn-large btn-light btn-raised' %>
          <button class="btn btn-block btn-large btn-light btn-raised">Copy</button>
          <%= link_to 'Delete', @request, method: :delete, data: { confirm: 'Are you sure?' },
              class: 'btn btn-block btn-large btn-light btn-raised' %>
        </div>

    <% end %>
  </div>

  <div id="spinner" v-show="showSavingSpinner">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Saving...</span>
  </div>
</div>