<div class="container" id="app">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <p id="notice"><%= notice %></p>

      <% if @request.submitted? %>

          <%= render 'request_status_summary' %>

          <%= render 'request_status_detail' %>

          <%= render 'message_board' %>

      <% else %>

          <%= render 'form', request: @request, title: 'Editing Request' %>

      <% end %>

    </div>
  </div>
</div>
