<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @request_for_tender.project_name %>
  </li>
<% end %>

<% content_for :action_items do %>
  <div class="col-md-4 col-lg-3 mb-3">
    <%= link_to 'Delete this request for tender',
                @request_for_tender,
                method: :delete,
                data: {
                    confirm: 'Are you sure you want to permanently delete ' \
                           'this request for tender?'
                },
                class: 'btn btn-sm btn-block btn-danger' %>
  </div>
<% end %>




<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>


<body class="<%= controller_name %> <%= action_name %>">

<%= render 'quantity_surveyors/navbar' %>


<div class="content">

  <%= render 'quantity_surveyors/page_head' %>

  <div class="container">
    <div class="row mt-4">

      <div class="col-lg-10 mx-auto">
        <nav class="nav nav-pills flex-column flex-sm-row
                    justify-content-md-between">
          <% wizard_steps.each_with_index do |wizard_step, index| %>
            <%= link_to "#{index + 1}. #{wizard_step.to_s.humanize}",
                        wizard_path(wizard_step),
                        class: "flex-sm-fill text-sm-center nav-item nav-link
                                #{'active' if step == wizard_step}" %>
          <% end %>
        </nav>

        <hr>

      </div>


      <div class="col-lg-10 mx-auto">
        <%= render 'layouts/flash_messages' %>

        <%= yield %>
      </div>

    </div>
  </div>
</div>

</body>
</html>
