<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @request_for_tender.project_name %>
  </li>
<% end %>




<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>


<body class="<%= controller_name %> <%= action_name %>">

<%= render 'quantity_surveyors/navbar' %>

<%= render 'layouts/flash_messages' %>

<div class="content">

  <%= render 'quantity_surveyors/page_head' %>

  <div class="container">
    <div class="row mt-4">

      <div class="col-lg-12 mx-auto">
        <nav class="nav nav-pills justify-content-center">
          <% wizard_steps.each_with_index do |wizard_step, index| %>
            <%= link_to "#{index + 1}. #{wizard_step.to_s.humanize}",
                        wizard_path(wizard_step),
                        class: "nav-item nav-link #{'active' if step == wizard_step}"%>
          <% end %>
        </nav>

        <hr>

      </div>


      <div class="col-lg-12 mx-auto">
        <%= yield %>
      </div>

    </div>
  </div>
</div>

</body>
</html>
