<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="FBFBFB">
  <tbody>
  <tr>
    <td align="center" valign="top" style="padding-top:50px">
      <table border="0" cellspacing="0" cellpadding="0" bgcolor="FFFFFF" style="border:1px solid #dbdbdb">
        <tbody>
        <tr>
          <td align="left" valign="top" width="91" style="padding:30px 20px 0px 20px">
            <%= cl_image_tag(tender.project_owners_company_logo.full_public_id,
                             format: 'jpg', width: 91, crop: :scale,
                             alt: tender.project_owners_company_name)
            %>
          </td>
          <td align="left" valign="top" style="padding:60px 50px 60px 10px">
            <table border="0" width="470" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td align="left" valign="top">
                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:20px">
                    Hello <%= tender.contractors_company_name %>,
                    </span>
                  </p>
                  <p></p>
                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:14px">
                      I am inviting you to participate on a request for tender below.
                      Click the name of the request to see details and submit
                      your bid through our online platform.
                    </span>
                  </p>
                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:16px">
                      <a style="font-family:Arial;color:#FFA726"
                         href="<%= tender_build_url(tender,
                                                    :general_information) %>"
                         target="_blank">
                        <%= tender.project_name %>
                      </a>
                    </span>
                    <br>

                    <span style="color:#555555;font-family:Arial;font-size:14px">
                      The deadline for submitting your bid is:
                      <%= tender.deadline.to_formatted_s(:long) %>
                    </span>
                  </p>

                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:14px">

                    </span>
                  </p>

                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:14px">
                      <strong>Description of the request:</strong>
                      <br>
                      <%= tender.description %>
                    </span>
                  </p>

                  <hr style="display:block;height:1px;border:0;border-top:1px solid #dbdbdb;margin:1em 0;padding:0">

                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:14px">
                      <strong>
                        <a style="font-family:Arial;color:#FFA726"
                           href="<%= tender_build_url(tender,
                                                      :general_information) %>">
                          Click here
                        </a>
                        for the details of the project.
                      </strong>
                      <br>
                      NB: Please do not share this link with anyone as it is your unique private link
                      that allows you to tender on this project. Anyone who gets it can submit a
                      tender in your name.
                    </span>
                  </p>

                  <p><br></p>

                  <hr style="display:block;height:1px;border:0;border-top:1px solid #dbdbdb;margin:1em 0;padding:0">

                  <p>
                    <span style="color:#555555;font-family:Arial;font-size:14px">
                      Kind regards,<br>
                      <%= tender.project_owners_name %><br>
                      <%= tender.project_owners_company_name %><br>
                      <%= tender.project_owners_phone_number %><br>
                    </span>
                  </p>

                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="padding-top:20px;padding-bottom:50px">

      <table border="0" width="680" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td valign="top" style="padding-right:10px">
          </td>
          <td valign="top">
            <p style="text-align: center;">
              <span style="color:#888888;font-family:Arial;font-size:13px">
				        <a style="text-decoration: none; font-family:Arial;color:#FFA726" href="https://www.tenderswift.com" target="_blank">
                  Powered by
                  <img style="margin-bottom: -1px" src="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_14/v1520926691/tenderswift-logo.png"
                       alt="TenderSwift">
                </a>
              </span>
            </p>
          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>