<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to contractor_root_path, class: 'navbar-brand' do %>
    <img src="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_24/v1520926501/tenderswift-logo.png"
         alt="TenderSwift"
         class="d-inline-block align-top">
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if contractor_signed_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="<%= edit_contractor_path(current_contractor) %>"
             id="account_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user" aria-hidden="true"></span>
            <%= current_contractor.company_name %>
          </a>
          <div class="dropdown-menu fix-screen" aria-labelledby="account_links">
            <%= link_to "Account Information", edit_contractor_path(current_contractor),
                        class: 'dropdown-item' %>
            <%= link_to "Logout", destroy_contractor_session_path, method: :delete,
                        class: 'dropdown-item' %>
          </div>
        </li>

      <% else %>

        <li class="nav-item mr-3">
          <%= link_to 'Login', new_contractor_session_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
        </li>

      <% end %>
    </ul>

  </div>
</nav>