<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item active" aria-current="page">
    Home
  </li>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-4 ml-md-auto mr-md-auto pt-4">
      <div class="ml-4 mb-2 text-center">
        <small style="color: rgb(169, 68, 66); font-size: 100%;">Invitations To Tender</small>
      </div>
      <div class="card mb-4">
          <div class="list-group list-group-flush">
            <% current_contractor.tenders.not_purchased.each do |tender| %>
              <a href="<%= tenders_project_information_path tender %>" class="list-group-item list-group-item-action flex-column align-items-start" %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <%= tender.project_name %>
                  </h5>
                  <small class="text-muted">
                    <span class="badge badge-pill badge-secondary"><%= time_to_deadline(tender.deadline) %></span>
                  </small>
                </div>
                <small class="text-muted">
                  <%= tender.project_location %>
                </small>
              </a>
            <% end %>
          </div>
      </div>
    </div>


    <div class="col-md-4 ml-md-auto mr-md-auto pt-4" id="purchased-tenders">
      <div class="ml-4 mb-2 text-center">
        <small style="font-size: 100%;">Purchased Tenders</small>
      </div>
      <div class="card">
        <div class="list-group list-group-flush">
            <% current_contractor.tenders.purchased.not_submitted.each do |tender|%>
              <a href="<%= tenders_project_information_path tender %>" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <%= tender.project_name %>
                  </h5>
                  <small class="text-muted">
                    <span class="badge badge-pill badge-secondary"><%= time_to_deadline(tender.deadline) %></span>
                  </small>
                </div>
                <small class="text-muted">
                  <%= tender.project_location %>
                </small>
              </a>
            <% end %>
        </div>
      </div>
    </div>


    <div class="col-md-4 ml-md-auto mr-md-auto pt-4">
      <div class="ml-4 mb-2 text-center">
        <small style="color:rgb(49, 183, 51); font-size: 100%;">Submitted Tenders</small>
      </div>
      <div class="card">
        <% current_contractor.tenders.purchased.submitted.each do |tender| %>
          <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <%= tender.project_name %>
                  </h5>
                  <small class="text-muted">
                      <span class="badge badge-pill badge-secondary"><%= time_to_deadline(tender.deadline) %></span>
                  </small>
                </div>
                <small class="text-muted">
                  <%= tender.location %>
                </small>
              </a>
          </div>
        <% end %>
      </div>
    </div>




  </div>
</div>
</div>
