<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <div class="text-center mb-4">
        <h2>Resend confirmation instructions</h2>
      </div>

      <%= form_for(resource,
                   as: resource_name,
                   url: confirmation_path(resource_name),
                   html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.email_field :email,
                            placeholder: 'Email address',
                            autofocus: true,
                            autocomplete: "email",
                            class: 'form-control',
                            required: true,
                            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <br>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions",
                       class: 'btn btn-accent btn-block',
                       data: {disable_with: "Sending..."} %>
        </div>

      <% end %>

      <br>
      <%= render "publishers/shared/links" %>

    </div>
  </div>
</div>
