<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-2">
      <div class="text-center mb-4">
        <h2>Resend confirmation instructions</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control',
                            autofocus: true, autocomplete: "email",
                            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: 'btn btn-accent btn-block' %>
        </div>
      <% end %>

      <%= render "publishers/shared/links" %>
    </div>
  </div>
</div>

