<div class="container">
  <div class="row">

    <div class="col-lg-8 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-4 mx-auto mt-5">
      <div class="text-center mb-4">
        <h2>Log in</h2>
        or
        <%= link_to 'sign up',  new_quantity_surveyor_registration_path %>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Email address', autofocus: true, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: 'form-control', required: true %>
          </div>

          <div class="d-flex w-100 justify-content-between">
            <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          </div>

          <br>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-secondary btn-block', data: {disable_with: "Signing in..."} %>
          </div>
      <% end %>

    </div>
  </div>

</div>

<script>
$(function () {
  $('#new_quantity_surveyor').parsley();
});
</script>