<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h3>Hello,</h3>

  <% if @message.sender.eql?('quantity_surveyor') %>
  <p>You have a new message from <%= @message.broadcast_message.chatroom.request_for_tender.quantity_surveyor.company_name %></p>
  <% else %>
  <p>You have a new message from <%= @message.participant.company_name %></p>
  <% end %>

  <h2>Project Name: <%= @message.participant.project_name %></h2>
  <p>"<%= @message.content %>"</p>

  <p>
  <% if @message.sender.eql?('quantity_surveyor') %>
    <%= link_to 'View message here', @message.participant %>
  <% else %>
    <%= link_to 'View message here', @message.broadcast_message.chatroom.request_for_tender %>
  <% end %>
  </p>
</body>
</html>