<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h3>Hello,</h3>

  <% if @message.sender.eql?('quantity_surveyor') %>
  <p>You have a new message from <%= @message.broadcast_message.chatroom.request_for_tender.quantity_surveyor.company_name %></p>
  <% else %>
  <p>You have a new message from <%= @message.participant.company_name %></p>
  <% end %>

  <h4>Project Name: <%= @message.participant.project_name %></h4>
  <p>"<%= @message.content %>"</p>

  <p>
  <% if @message.sender.eql?('quantity_surveyor') %>
    <%= link_to 'View message here', { controller: :messages, action: :show, id: @message.participant.id, scroll: :down } %>
  <% else %>
    <%= link_to 'View message here', { controller: :request_for_tenders, action: :show, id: @message.broadcast_message.chatroom.request_for_tender.id, scroll: :down } %>
  <% end %>
  </p>
</body>
</html>