<%= form_with(model: tender_transaction, local: true) do |form| %>
  <% if tender_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tender_transaction.errors.count, "error") %> prohibited this tender_transaction from being saved:</h2>

      <ul>
      <% tender_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_number %>
    <%= form.text_field :customer_number, id: :tender_transaction_customer_number %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :tender_transaction_amount %>
  </div>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.text_field :transaction_id, id: :tender_transaction_transaction_id %>
  </div>

  <div class="field">
    <%= form.label :voucher_code %>
    <%= form.text_field :voucher_code, id: :tender_transaction_voucher_code %>
  </div>

  <div class="field">
    <%= form.label :network_code %>
    <%= form.text_field :network_code, id: :tender_transaction_network_code %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :tender_transaction_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
