<p id="notice"><%= notice %></p>

<p>
  <strong>Customer number:</strong>
  <%= @tender_transaction.customer_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @tender_transaction.amount %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @tender_transaction.transaction_id %>
</p>

<p>
  <strong>Voucher code:</strong>
  <%= @tender_transaction.voucher_code %>
</p>

<p>
  <strong>Network code:</strong>
  <%= @tender_transaction.network_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tender_transaction.status %>
</p>

<%= link_to 'Edit', edit_tender_transaction_path(@tender_transaction) %> |
<%= link_to 'Back', tender_transactions_path %>
