<p id="notice"><%= notice %></p>

<h1>Broadcast Messages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Chatroom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @broadcast_messages.each do |broadcast_message| %>
      <tr>
        <td><%= broadcast_message.content %></td>
        <td><%= broadcast_message.chatroom %></td>
        <td><%= link_to 'Show', broadcast_message %></td>
        <td><%= link_to 'Edit', edit_broadcast_message_path(broadcast_message) %></td>
        <td><%= link_to 'Destroy', broadcast_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broadcast Message', new_broadcast_message_path %>
