<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @broadcast_message.content %>
</p>

<p>
  <strong>Chatroom:</strong>
  <%= @broadcast_message.chatroom %>
</p>

<%= link_to 'Edit', edit_broadcast_message_path(@broadcast_message) %> |
<%= link_to 'Back', broadcast_messages_path %>
