<div class="card-header" role="tab" id="headingAll">
  <h5 class="mb-0">
    <a class="collapsed text-primary" data-toggle="collapse" href="#collapseAll" aria-expanded="false" aria-controls="collapseAll">
      All Contractors
      <small>
      <span class="badge badge-pill badge-primary">
        <%= @request.participants.count %>
      </span>
      </small>
    </a>
  </h5>
</div>
<div id="collapseAll" class="collapse show" role="tabpanel" aria-labelledby="headingAll" data-parent="#accordion">
  <div class="card-body">
    <ul class="list-group">
      <% @request.participants.each do |participant| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-5">
                <%= participant.name %>
                <br>
                <small>
                  <span class="fa fa-user"></span>
                  <%= participant.email %>
                  (<%= participant.phone_number %>)
                </small>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-2">
                <%= render 'participant_actions', participant: participant %>
              </div>
              <div class="col-md-1">
                <a href="mailto:<%= participant.project_owners_email %>?subject=<%= "re: Invitation to Tender for #{participant.project_name}" %>"
                   target="_blank"
                   class="btn btn-sm btn-light">
                  <span class="fa fa-envelope text-secondary"></span>
                </a>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>