<div class="graph mb-4">
  <canvas id="barChart" class="mb-2"></canvas>
</div>



<br/>
<br/>

<%= render 'shortlisted_bids' %>

<%= render 'disqualified_bids' %>

<br/>
<br/>

<%= render 'winner_display' %>

<%= render 'confirm_winner_of_bid' %>

<%= render 'error_message_modal'%>

<%= render 'notify_disqualified_contractors'%>

<%= render 'award_contract_message' %>

<%= render 'done' %>



<script>

</script>