<div class="d-flex w-100 justify-content-end mb-2">
  <% if @request.deadline_over? %>
    <%= link_to 'Compare Bill of Quantities', compare_boq_path(@request), class: 'btn btn-sm btn-secondary' %>
  <% else %>
    <div data-toggle="tooltip" data-placement="bottom"
         data-html="true"
         data-title="<p>In order to comply with the standards of tender fairness,
                 bids will only be shown when the request deadline is reached.<p>
                <p class='text-center request-countdown'><%= @request.time_left %> left to request deadline.</p>">

      <button class="btn btn-secondary disabled" type="button">
        Compare Bill of Quantities
      </button>
    </div>
  <% end %>
</div>

<bids-table
:contract-sum-address="<%= @request.contract_sum_address.to_json %>"
:participants-data="<%= @request.participants.to_json(include: :rates) %>"
:workbook-data="<%= @request.bill_of_quantities %>"
currency="<%= @request.currency_symbol %>"
qs-company-name="<%= @request.project_owners_company_name %>"
></bids-table>