<div class="d-flex w-100 justify-content-between mb-2">
  <h5>Disqualified</h5>
</div>

<table class="table table-striped table-hover mb-5">
  <thead class="thead-light">
  <tr>
    <th>Company</th>
    <th>Bid</th>
    <th>Difference</th>
    <th>Rating</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @request.participants.disqualified.where('disqualified = true').order(rating: :desc).each do |participant| %>
    <tr>
      <td>
            <span data-toggle="tooltip" data-placement="top" title="<%= participant.email %>">
                <%= participant.name %>
            </span>
      </td>
      <td>
        <%= @request.currency_symbol %>
        <%= participant.bid %>
      </td>
      <td>
        <%= @request.currency_symbol %>
        <small>(<%= participant.bid_difference_as_percentage %>)</small>
      </td>
      <td>
        <%= participant.rating? ? participant.rating : 'Not rated' %>
      </td>
      <td>
        <%= link_to 'View bid', bid_required_documents_path(participant) %>
      </td>
      <td>
        <%= button_to 'Add to Shortlist', undo_disqualify_bid_path(participant), { class: 'btn btn-sm btn-light' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>