
    <div class="card">
      <h4 class="card-header text-center">
        <%= title %>
      </h4>

      <% if request.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

            <ul>
              <% request.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= render 'general_information_form' %>
      <% render 'documents_form' %>
      <%= render 'bill_of_quantities_form' %>
      <% render 'questionnaire_form' %>
      <%= render 'participants_form' %>
      <div class="card-body d-flex w-100 justify-content-between mt-3">
        <!--<button type="button" class="card-link btn btn-lg btn-block btn-light">Preview</button>-->
        <button type="button" class="card-link btn btn-lg btn-block btn-light"
                v-on:click="saveRequestForTender">Save</button>
        <button type="button" class="card-link btn btn-lg btn-block btn-success"
                v-on:click="submitRequestForTender" v-if="!requestForTender.submitted">Send Request Out</button>
      </div>
    </div>


    <div id="spinner" v-show="showSavingSpinner">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Saving...</span>
    </div>