<%= form_with(model: request, local: false, id: 'request-form') do |form| %>
    <% if request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

          <ul>
            <% request.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <span style="display:none;" id="request_value"><%= @request.id %></span>
    <div id="example-basic">
      <h3 class="card-header text-center">General Info</h3>
      <section>
        <%= render 'general_information_form', form: form %>
      </section>
      <h3 class="card-header text-center">Bill Of Quantity</h3>
      <section>
        <%= render 'bill_of_quantities_form', form: form %>
      </section>
      <h3 class="card-header text-center">Participants</h3>
      <section>
        <%= render 'participants_form', form: form %>
      </section>
      <h3 class="card-header text-center">Project Documents</h3>
      <section>
        <%= render 'documents_form', form: form %>
      </section>
    </div>
<% end %>


<div id="spinner" style="display: none">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Saving...</span>
</div>


<script>
    var id = parseInt($('#request_value').html())
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true,
        labels:
            {
                cancel: "Send out Invitation",
                current: "current step:",
                pagination: "Pagination",
                finish: "Save",
                next: "Next",
                previous: "Previous",
                loading: "Loading ..."
            },
        enableCancelButton: true,
        onCanceled: function (event) {
            //send out emails
            window.location.replace("/email_request_for_tender/" +<%= @request.id %>);
        },
        onFinished: function (event, currentIndex) {
            $("#request-form").submit();
            console.log("finish save with ajax");

        }
    });
</script>