<%= form_with(model: request, local: true, id: 'request-form') do |form| %>
    <% if request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

          <ul>
            <% request.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p class="text-muted text-center small mb-4">
      Please in this general information about the project you are creating a request for tender here.
      <br>
      <strong>
        Make sure to click 'Save' before moving away from this page. You will lose the information you've typed in if
        you don't.
      </strong>
    </p>

    <div class="form-row mx-auto">
      <div class="form-group col-sm-6">
        <%= form.label :project_name %>
        <%= form.text_field :project_name, id: :request_project_name,
                            class: 'form-control form-control-sm', data: {'save-on-change': true, toggle: 'tooltip', placement: 'right', title: 'Eg. Proposed residential building for Mrs. Diana Aduboat. '} %>
        <p class="text-muted small">
          Example: Purchases of office supplies; Construction of sawmill;
          Railroad engineering works;
        </p>
      </div>
      <div class="form-group col-sm-6">
        <%= form.label :deadline %>
        <br>
        <div class="form-inline w-100 justify-content-between">
          <% form.text_field :deadline, id: :request_deadline,
                             class: 'form-control form-control-sm mb-1 datetimepicker', data: {'save-on-change': true} %>

          <%= form.datetime_select :deadline,
                                   {use_short_month: true},
                                   {class: 'form-control form-control-sm mb-1 datetimepicker', 'data-save-on-change': true} %>
        </div>

        <p class="text-muted small">
          Deadline for contractors to submit their bids.
          Timezone: Accra, Africa (UTC+00:00)
        </p>
      </div>

      <div class="form-group col-sm-6">
        <div class="form-row">
          <div class="col-sm-12">
            <%= form.label :contract_sum %>
          </div>
          <div class="col-sm-3">
            <%= form.select :contract_sum_currency, [%w(USD USD), %w(GHS GHS)], {}, { class: 'form-control form-control-sm' } %>
          </div>
          <div class="col-sm-9">
            <%= form.text_field :contract_sum, id: :request_contract_sum,
                                class: 'form-control form-control-sm', data: {'save-on-change': true} %>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-2">
        <%= form.label :country %>
        <%= form.collection_select :country_id, Country.all, :id, :name, {}, {id: :request_country,
                                                                              class: 'form-control form-control-sm', data: {'save-on-change': true}} %>
      </div>

      <div class="form-group col-sm-4">
        <%= form.label :city %>
        <%= form.text_field :city, id: :request_city,
                            class: 'form-control form-control-sm', data: {'save-on-change': true} %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :description %>
        <%= form.text_area :description, id: :request_description, rows: 3,
                           class: 'form-control form-control-sm', data: {'save-on-change': true, toggle: 'tooltip', placement: 'right', title: 'Eg. The structure is a one-storey building skeleton frames faculty with solid sandcrete walls as partitions. It covers an area of 478 sqm. The project is funded by Mrs Aduboat. '} %>
      </div>


      <div class="form-group col-sm-12 mt-3">
        <div class="text-center">
          <%= form.label :project_documents %>
        </div>
        <p class="text-muted text-center small">
          Upload any documents that you want the contractor to use in deciding his bid here.
          <br>
          <strong>
            NB. Do not upload the bill of quantities here.
            You would be required to upload it in the next step (i.e. Step 2) of this process instead.
          </strong>
        </p>
        <ul class="list-group list-group-flush nested-forms">
          <%= form.fields_for :project_documents do |project_document| %>
              <%= render 'project_document_fields', f: project_document %>
          <% end %>
          <li class="d-flex w-100 justify-content-between">
            <%= link_to_add_association 'Add new document', form, :project_documents, class: 'btn btn-sm btn-primary my-1' %>
          </li>
        </ul>
      </div>
    </div>

    <div class="w-100 d-flex justify-content-between">
      <%= form.submit 'Save', class: 'btn btn-primary mr-2 ml-auto' %>
      <%= form.submit 'Save & Continue', class: 'btn btn-primary' %>
    </div>
<% end %>

<script>
    $('#request_description').hover(function (e) {
        $('#request_description').tooltip('show');
    });
    $('#request_project_name').hover(function (e) {
        $('#request_project_name').tooltip('show');
    });
</script>