<div class="card-header" role="tab" id="headingNotParticipating">
  <h5 class="mb-0">
    <a class="collapsed text-muted" data-toggle="collapse" href="#collapseNotParticipating" aria-expanded="false" aria-controls="collapseNotParticipating">
      Do not want to participate
      <small>
      <span class="badge badge-pill badge-secondary">
        <%= @request.participants.not_participating_list.count %>
      </span>
      </small>
    </a>
  </h5>
</div>
<div id="collapseNotParticipating" class="collapse" role="tabpanel" aria-labelledby="headingNotParticipating" data-parent="#accordion">
  <div class="card-body">
    <ul class="list-group">
      <% @request.participants.not_participating_list.each do |participant| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-5">
                <%= participant.name %>
                <br>
                <small>
                  <span class="fa fa-user"></span>
                  <%= participant.email %>
                  (<%= participant.phone_number %>)
                </small>
              </div>
              <div class="col-md-4">
                <%= participant.interested_declaration_time.to_formatted_s(:long) %>
              </div>
              <div class="col-md-2">
                <%= render 'participant_actions', participant: participant %>
              </div>
              <div class="col-md-1">
                <a href="mailto:<%= participant.project_owners_email %>?subject=<%= "re: Invitation to Tender for #{participant.project_name}" %>"
                   target="_blank"
                   class="btn btn-sm btn-light">
                  <span class="fa fa-envelope text-primary"></span>
                </a>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
