<div class="card-body">
  <div class="d-flex w-100 justify-content-between">
    <button class="btn btn-sm btn-light">Invite more contractors</button>
    <button class="btn btn-sm btn-light">Add a bid manually</button>
  </div>
</div>

<%= render 'bid_made_contractors' %>


<%= render 'not_read_contractors' %>


<%= render 'read_contractors' %>


<%= render 'want_to_bid_contractors' %>


<%= render 'not_participating_contractors' %>