<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="tab-content mt-4">

        <div class="card mb-4">

          <div class="card-body">
            <h4 class="card-title mt-0"><%= @request_for_tender.project_name %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= @request_for_tender.project_owners_company_name %></h6>

            <div class="row mt-3">
              <div class="col-md-4">
                <strong>Contract class</strong>
                <br>
                <%= @request_for_tender.contract_class %>
              </div>
              <div class="col-md-4">
                <strong>Location</strong>
                <br>
                <%= @request_for_tender.project_location %>
              </div>
              <div class="col-md-4">
                <strong>Project currency</strong>
                <br>
                <%= @request_for_tender.project_currency %>
              </div>
            </div>
          </div>


          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <strong>
                    <% if @request_for_tender.deadline_over? %>
                      Time closed
                    <% else %>
                      Time left
                    <% end %>
                  </strong>
                  <br>
                  <%= @request_for_tender.time_to_deadline %>
                </div>
                <div class="col-md-8">
                  <strong>End date</strong>
                  <br>
                  <%= @request_for_tender.project_deadline.to_formatted_s(:long) %>
                  <span class="ml-3">(UTC+00:00)</span>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="card mb-4">

          <div class="card-header">
            Project Description
          </div>
          <div class="card-body">
            <p class="mb-1">
              <%= simple_format @request_for_tender.project_description %>
            </p>
          </div>


          <div class="card-header">
            Required Documents
          </div>
          <div class="card-body">
            <p class="card-text">
              You're expected to provide the following documents with this tender:
            <ol>
              <% @request_for_tender.required_documents.each do |required_document| %>
                <li> <%= required_document.title %> </li>
              <% end %>
            </ol>
            </p>
          </div>


          <div class="card-header">
            Tendering Instructions
          </div>
          <div class="card-body">
            <%= simple_format @request_for_tender.tender_instructions,
                              { class: 'formatted_content trix-content' },
                              { wrapper_tag: 'div' } %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>