<div class="card-header text-warning" role="tab" id="headingWantToBid">
  <h5 class="mb-0">
    <a class="collapsed text-warning" data-toggle="collapse" href="#collapseWantToBid" aria-expanded="false" aria-controls="collapseWantToBid">
      Purchased
      <small>
      <span class="badge badge-pill badge-warning">
        <%= @request.participants.purchased.count %>
     </span>
      </small>
    </a>
  </h5>
</div>
<div id="collapseWantToBid" class="collapse" role="tabpanel" aria-labelledby="headingWantToBid" data-parent="#accordion">
  <div class="card-body">
    <ul class="list-group">
      <% @request.participants.purchased.each do |participant| %>
          <li class="list-group-item w-100 d-flex justify-content-between">
            <div>
              <%= participant.name %>
              <br>
              <small>
                <a href="mailto:<%= participant.project_owners_email %>?subject=<%= "re: Invitation to Tender for #{participant.project_name}" %>"
                   target="_blank">
                  <span class="fa fa-user"></span>
                  <%= participant.email %>
                </a>
                (<%= participant.phone_number %>)
              </small>
            </div>
            <div>
              <%= participant.purchase_time.to_formatted_s(:long) %>
            </div>
            <div>
              <%= render 'participant_actions', participant: participant %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
