<div class="nested-fields mb-4">
  <hr>
  <div class="form-row">

    <div class="col-sm-12">
      <%= f.label :Question %>
      <%= f.text_field :title, id: :question_title,
                       class: 'form-control form-control-sm mb-2', placeholder: 'Question Title' %>
    </div>

    <div class="col-sm-12">
      <%= f.label :description %>
      <%= f.text_area :description, id: :question_description, rows: 2,
                      class: 'form-control form-control-sm mb-2', data: {'save-on-change': true} %>
    </div>

    <div class="col-sm-4">
      <div class="form-check form-check-inline">
        <%= f.label :can_attach_documents, class: 'form-check-label' do %>
            <%= f.check_box :can_attach_documents, id: :question_can_attach_documents,
                            class: 'form-check-input' %>
            Should attach documents?
        <% end %>
      </div>
    </div>

    <div class="col-sm-5">
    </div>

    <div class="col-sm-3">
      <%= link_to_remove_association f, class: 'btn btn-sm btn-block btn-light float-right' do %>
          Remove
      <% end %>
    </div>

  </div>
</div>