<div class="nested-fields mb-3">
  <hr>
  <div class="form-row">

    <div class="col-sm-12">
      <%= f.text_field :title, id: :question_title,
                       class: 'form-control form-control-sm mb-2', placeholder: 'Question Title' %>
    </div>

    <div class="col-sm-12">
      <%= f.label :description %>
      <%= f.text_area :description, id: :question_description, rows: 3,
                      class: 'form-control form-control-sm mb-2', data: {'save-on-change': true} %>
    </div>

    <div class="col-sm-3">
      <%= f.label :question_type %>
      <%= f.select :question_type, Question.question_types.keys.to_a.map {|w| [w.humanize, w]}, {},
                   {class: 'form-control form-control-sm'} %>
    </div>


    <div class="col-sm-3 mt-4 pt-2">
      <div class="form-check form-check-inline">
        <%= f.label :can_attach_documents, class: 'form-check-label' do %>
            <%= f.check_box :can_attach_documents, id: :question_can_attach_documents,
                            class: 'form-check-input' %>
            Can attach documents?
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 mt-4 pt-2">
      <div class="form-check form-check-inline">
        <%= f.label :mandatory, class: 'form-check-label' do %>
            <%= f.check_box :mandatory, id: :question_mandatory,
                            class: 'form-check-input' %>
            Is Mandatory?
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 mt-4 pt-2">
      <%= link_to_remove_association f, class: 'btn btn-sm btn-block btn-light float-right' do %>
          Remove
      <% end %>
    </div>
  </div>
</div>