<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><%= @request_for_tender.project_name %></h5>
    <div class="d-flex justify-content-between small">
      <div>
        <strong>Reference number: </strong>
        <%= @request_for_tender.id %>
      </div>
      <div>
        <strong>Purchase link: </strong>
        <%= link_to purchase_url(@request_for_tender),
                    purchase_url(@request_for_tender),
                    target: '_blank',
                    id: :purchase_link %>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between py-2">
        <div class="mx-2">
          <div class="font-weight-bold text-muted"><%= @request_for_tender.private? ? 'Invited' : 'Visited' %></div>
          <span id="number-of-counts"><%= @request_for_tender.private? ? @request_for_tender.tenders.count : @request_for_tender.portal_visits %></span>
        </div>
        <div class="mx-2">
          <div class="font-weight-bold text-muted">Purchased</div>
          <span id="number-of-purchases"><%= @request_for_tender.number_of_tender_purchases %></span>
        </div>
        <div class="mx-3">
          <div class="font-weight-bold text-muted">Submitted</div>
          <span id="number-of-submitted-tender"><%= @request_for_tender.tenders.submitted.count %></span>
        </div>
        <div class="mr-auto"></div>
        <div class="mx-3">
          <div class="font-weight-bold text-muted">Published</div>
          <%= @request_for_tender.published_at.to_formatted_s(:short) %>
        </div>
        <div class="mx-3">
            <% if deadline_over? @request_for_tender %>
              <div class="font-weight-bold text-muted">Ended</div>
              <%= time_to_deadline @request_for_tender %> ago
              <small>(<%= @request_for_tender.deadline.to_formatted_s(:short) %>)</small>
            <% else %>
              <div class="font-weight-bold text-muted">Ends on</div>
              <%= time_to_deadline @request_for_tender %>
              <small>(<%= @request_for_tender.deadline.to_formatted_s(:short) %>)</small>
            <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>