<div class="card" id="card-information">
  <div class="card-header">
    Project Information
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @request_for_tender.project_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= @request_for_tender.private? ? 'Private' : 'Public' %> tender
      <br>
      <%= @request_for_tender.published_time.to_formatted_s(:long) %> - <%= @request_for_tender.deadline.to_formatted_s(:long) %>
    </h6>
    <p class="card-text">
      <%= simple_format @request_for_tender.description %>
    </p>

    <div class="row my-3">
      <div class="col-md-4">
        <strong>Contract class</strong>
        <br>
        <%= contract_class @request_for_tender %>
      </div>
      <div class="col-md-4">
        <strong>Location</strong>
        <br>
        <%= project_location @request_for_tender %>
      </div>
      <div class="col-md-4">
        <strong>Project currency</strong>
        <br>
        <% if currency_symbol @request_for_tender === 'USD' %>
          USD - United States Dollar
        <% elsif currency_symbol @request_for_tender  === 'GHS' %>
          GHS - Ghanaian Cedi
        <% end %>
      </div>
    </div>
  </div>


  <div class="card-body">
    <strong class="text-center">Tender Instructions</strong>
    <hr>
    <%= simple_format @request_for_tender.tender_instructions,
                      { class: 'formatted_content trix-content' },
                      {wrapper_tag: 'div' } %>
  </div>

  <div class="card-body">
    <strong class="text-center">Required Documents</strong>
    <hr>
    <p class="card-text">
      All participating contractors are expected to provide the following documents with this tender:
    <ol>
      <% @request_for_tender.required_documents.each do |required_document| %>
        <li> <%= required_document.title %> </li>
      <% end %>
    </ol>
    </p>
  </div>


  <div class="card-body">
    <strong class="text-center">Bill Of Quantities</strong>
    <hr>
    <% if @request_for_tender.bill_of_quantities.present? %>
      <div id='hello'>
        <upload-boq
        :request-for-tender-id="<%= @request_for_tender.id %>"
        :workbook-data="<%= @request_for_tender.bill_of_quantities %>"
        :contract-sum-address="<%= @request_for_tender.contract_sum_address.to_json %>"
        currency="<%= currency_symbol @request_for_tender %>"
        qs-company-name="<%= @request_for_tender.project_owners_company_name %>"
        boq-contract-sum="<%= 100000 %>"
        ></upload-boq>
      </div>
    <% end %>
  </div>

</div>