<div class="card mb-4">
  <div class="card-header">
    <%= @request.project_name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-info">
      <div class="col-sm-12 request-controls" style="padding: 5px;">
        <%= link_to 'Edit request', edit_tender_information_path(@request), class: 'btn btn-sm btn-light' %>
        <%= link_to 'Extend deadline', edit_tender_information_path(@request), class: 'btn btn-sm btn-light' %>
        <%= link_to 'Invite more contractors', edit_tender_participants_path(@request), class: 'btn btn-sm btn-light' %>
        <!--<div class="dropdown float-right">-->
          <!--<button class="btn btn-sm btn-light dropdown-toggle" type="button" id="request_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Actions-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" aria-labelledby="request_actions">-->
            <!--<button class="dropdown-item" type="button">Open report</button>-->
            <!--<button class="dropdown-item" type="button">Copy</button>-->
            <!--<button class="dropdown-item" type="button">Move to another folder</button>-->
            <!--<button class="dropdown-item" type="button">Cancel request</button>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </li>
    <li class="list-group-item">
      <div class="row" style="padding-top: 15px;">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-2"><strong class="text-muted">Bids</strong></div>
            <div class="col-sm-4"><strong class="text-muted">Participating</strong></div>
            <div class="col-sm-3"><strong class="text-muted">Read</strong></div>
            <div class="col-sm-3"><strong class="text-muted">Time left</strong></div>
            <div class="col-sm-2"><%= @request.participants.bid_list.count %></div>
            <div class="col-sm-4"><%= @request.participants.participating_list.count %></div>
            <div class="col-sm-3"><%= @request.participants.read_list.count %>/<%= @request.participants.count %></div>
            <div class="col-sm-3"><%= @request.time_left %></div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <% if @request.deadline_over? %>

              <a href='#' class='btn btn-lg btn-success'>Compare bids</a>

          <% else %>

              <div data-toggle="tooltip" data-placement="bottom"
                   data-html="true"
                   data-title="<p>In order to comply with the standards of tender fairness,
                 bids will only be shown when the request deadline is reached.<p>
                <p class='text-center request-countdown'><%= @request.time_left %> left to request deadline.</p>">

                <button class="btn btn-lg btn-success disabled" type="button">
                  Compare bids
                </button>

              </div>

          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>