<div class="card mb-4">
  <div class="card-header">
    <%= @request.project_name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-primary">
      <div class="col-sm-12 request-controls" style="padding: 5px;">
      </div>
    </li>
    <li class="list-group-item">
      <div class="row" style="padding-top: 15px;">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-2"><strong class="text-muted">Visits</strong></div>
            <div class="col-sm-4"><strong class="text-muted">Purchases</strong></div>
            <div class="col-sm-3"><strong class="text-muted">Submissions</strong></div>
            <% if @request.deadline_over? %>
                <div class="col-sm-3"><strong class="text-muted">Time Closed</strong></div>
            <% else %>
                <div class="col-sm-3"><strong class="text-muted">Time Left</strong></div>
            <% end %>
            <div class="col-sm-2"><%= @request.portal_visits %></div>
            <div class="col-sm-4"><%= @request.participants.purchased.count %></div>
            <div class="col-sm-3"><%= @request.participants.submitted.count %></div>
            <div class="col-sm-3"><%= @request.time_left %></div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <% if @request.deadline_over? %>
                <%= link_to 'Compare Bids', compare_bids_path(@request), class: 'btn btn-lg btn-success' %>
          <% else %>

              <div data-toggle="tooltip" data-placement="bottom"
                   data-html="true"
                   data-title="<p>In order to comply with the standards of tender fairness,
                 bids will only be shown when the request deadline is reached.<p>
                <p class='text-center request-countdown'><%= @request.time_left %> left to request deadline.</p>">

                <button class="btn btn-lg btn-secondary disabled" type="button">
                  Compare bids
                </button>

              </div>

          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>