<div class="card mb-4">
  <div class="card-header d-flex w-100 justify-content-between">
    <h5><%= @request.project_name %></h5>

    <small class="text-muted">
      <span class="badge badge-pill badge-secondary"><%= @request.private? ? 'private' : 'public' %> tender</span>
    </small>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-primary">
      <div class="col-sm-12 request-controls py-1">
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between py-2">
        <div class="mx-3">
          <div class="font-weight-bold text-muted"><%= @request.private? ? 'Invited' : 'Visited' %></div>
          <%= @request.private? ? @request.participants.count : @request.portal_visits %>
        </div>
        <div class="mx-3">
          <div class="font-weight-bold text-muted">Purchased</div>
          <%= @request.participants.purchased.count %>
          (<%= @request.currency_symbol %> <%= @request.total_receivable %>)
        </div>
        <div class="mx-3">
          <div class="font-weight-bold text-muted">Submitted</div>
          <%= @request.participants.submitted.count %>
        </div>
        <div class="mx-3">
          <div class="font-weight-bold text-muted"><%= @request.deadline_over? ? 'Time Closed' : 'Time Left' %></div>
          <%= @request.time_left %>
        </div>
        <div class="mr-auto">
        </div>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>