<div class="card-body">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-4 mb-2">
          <strong>Number of purchases</strong>
          <br>
          <%= @request_for_tender.number_of_tender_purchases %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Amount receivable</strong>
          <br>
          GH₵ <%= @request_for_tender.total_receivable %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Selling price</strong>
          <br>
          GH₵ <%= @request_for_tender.selling_price %>
        </div>
      </div>
      <hr>
      <div class="w-100 d-flex justify-content-between align-items-baseline">
        <p>The total receivable will be paid into the following account</p>
        <button type="button"
                class="btn btn-sm btn-link"
                data-toggle="modal"
                data-target="#payment_info-modal"
                data-dismiss="modal">
          <span class="fa fa-pencil"></span> Edit
        </button>
      </div>

      <div class="row">
        <div class="col-md-4 mb-2">
          <strong>Bank name</strong>
          <br>
          <%= @request_for_tender.bank_name %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Branch name</strong>
          <br>
          <%= @request_for_tender.branch_name %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Account name</strong>
          <br>
          <%= @request_for_tender.account_name %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Account number</strong>
          <br>
          <%= @request_for_tender.account_number %>
        </div>

        <div class="col-md-8 mb-2">
          <strong>Withdrawal frequency</strong>
          <br>
          <%= @request_for_tender.withdrawal_frequency %>
        </div>
      </div>


    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="payment_info-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="payment_info-modal-label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payment_info-modal-label">
          Edit Payment Info
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: @request_for_tender,
                      scope: :request_for_tender,
                      url: request_for_tender_path(@request_for_tender),
                      method: :patch,
                      local: true,
                      id: 'request-form' do |form| %>

          <%= render 'request_for_tenders/payments_form', form: form %>

          <div class="w-100 d-flex justify-content-end">
            <%= form.submit 'Save',
                            class: 'btn btn-primary next-button text-uppercase' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>