<div class="card-body">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-4 mb-2">
          <strong>Number of purchases</strong>
          <br>
          <%= @request.number_of_tender_purchases %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Amount receivable</strong>
          <br>
          GH₵ <%= @request.total_receivable %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Selling price</strong>
          <br>
          GH₵ <%= @request.selling_price %>
        </div>
      </div>
      <hr>
      <div class="w-100 d-flex justify-content-between align-items-baseline">
        <p>The total receivable will be paid into the following account</p>
        <button type="button" class="btn btn-sm btn-link"
                data-toggle="modal" data-target="#payment_info-modal" data-dismiss="modal">
          <span class="fa fa-pencil"></span> Edit
        </button>
      </div>

      <div class="row">
        <div class="col-md-4 mb-2">
          <strong>Bank name</strong>
          <br>
          <%= @request.bank_name %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Branch name</strong>
          <br>
          <%= @request.branch_name %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Account name</strong>
          <br>
          <%= @request.account_name %>
        </div>

        <div class="col-md-4 mb-2">
          <strong>Account number</strong>
          <br>
          <%= @request.account_number %>
        </div>

        <div class="col-md-8 mb-2">
          <strong>Withdrawal frequency</strong>
          <br>
          <%= @request.withdrawal_frequency %>
        </div>
      </div>


    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="payment_info-modal" tabindex="-1" role="dialog" aria-labelledby="payment_info-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payment_info-modal-label">
          Edit Payment Info
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 500px; overflow: scroll">
        <%= form_with model: @request,
                      scope: :request_for_tender,
                      url: update_payment_details_path(@request),
                      method: :patch,
                      local: true,
                      id: 'request-form' do |form| %>

          <% render 'create_tender/request_for_tender_errors' %>

          <div class="form-row">
            <div class="col-md-12">
              <%= form.label :selling_price, 'Current Selling Price' %>
            </div>
            <div class="col-md-1">
              <%= @request.currency_symbol %>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= form.text_field :selling_price, id: :request_for_tender_selling_price,
                                    class: 'form-control form-control-sm', required: true %>
              </div>
            </div>
            <div class="col-md-12">
              <small class="form-text text-muted">
                Please note all sales will incur a service charge of 15% of
                the total selling price.
              </small>
            </div>
          </div>

          <p class="qs-company-name">
            <%= @request.quantity_surveyor.company_name %>
          </p>

          <br>
          <hr>
          <label>Bank Details</label>
          <p class="text-muted small ">
            Please provide us with your Bank Account details,
            and how frequently you want your money sent to you
          </p>


          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group">
                <%= form.label :bank_name %>
                <%= form.text_field :bank_name, id: :request_for_tender_bank_name,
                                    class: 'form-control form-control-sm', required: true %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group">
                <%= form.label :branch_name %>
                <%= form.text_field :branch_name, id: :request_for_tender_bank_branch,
                                    class: 'form-control form-control-sm', required: true %>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group">
                <%= form.label :account_name %>
                <%= form.text_field :account_name, id: :request_for_tender_account_name,
                                    class: 'form-control form-control-sm', required: true%>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group">
                <%= form.label :account_number %>
                <%= form.text_field :account_number, id: :request_for_tender_account_nunber,
                                    class: 'form-control form-control-sm', required: true %>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group">
                <%= form.label :withdrawal_frequency %>
                <%= form.select :withdrawal_frequency, {'Monthly': 'Monthly', 'Every 2 weeks': 'Every_Two_Weeks', 'Weekly': 'Weekly' }, {},
                                { id: :request_for_tender_frequency_of_receiving_sales, class: 'form-control form-control-sm' } %>
              </div>
            </div>
          </div>


          <div class="w-100 d-flex justify-content-end">
            <%= form.submit 'Save', class: 'btn btn-primary next-button text-uppercase' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>