<div class="d-flex w-100 justify-content-between mb-2">
  <h5>Submitted</h5>
  <% if @request.deadline_over? %>
    <%= link_to 'Compare Bill of Quantities', compare_boq_path(@request), class: 'btn btn-sm btn-secondary' %>
  <% else %>
    <div data-toggle="tooltip" data-placement="bottom"
         data-html="true"
         data-title="<p>In order to comply with the standards of tender fairness,
                 bids will only be shown when the request deadline is reached.<p>
                <p class='text-center request-countdown'><%= @request.time_left %> left to request deadline.</p>">

      <button class="btn btn-secondary disabled" type="button">
        Compare Bill of Quantities
      </button>
    </div>
  <% end %>
</div>

<table class="table table-striped table-hover mb-5">
  <thead class="thead-light">
  <tr>
    <th>Company</th>
    <th>Bid</th>
    <th>Difference</th>
    <th>Rating</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @request.participants.not_disqualified.order(rating: :desc).each do |participant| %>
    <tr>
      <td>
            <span data-toggle="tooltip" data-placement="top" title="<%= participant.email %>">
                <%= participant.name %>
            </span>
      </td>
      <td>
        <%= @request.currency_symbol %>
        <%= participant.bid %>
      </td>
      <td>
        <%= @request.currency_symbol %>
        <small>(<%= participant.bid_difference_as_percentage %>)</small>
      </td>
      <td>
        <%= participant.rating? ? participant.rating : 'Not rated' %>
      </td>
      <td>
        <%= link_to 'View bid', bid_required_documents_path(participant) %>
      </td>
      <td>
        <%= button_to 'Disqualify', disqualify_bid_path(participant), { class: 'btn btn-sm btn-light' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>