<div class="px-4 mb-2">
  Submitted tenders
  (<%= request_for_tender.tenders.submitted.count %>)
</div>

<ul class="list-group">
  <% if request_for_tender.tenders.submitted.each do |tender| %>
    <a href="<%= bid_required_documents_path(tender) %>"
       target="_blank"
       class="list-group-item list-group-item-action
                 flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <%= tender.contractors_company_name %>
        </h5>
        <small class="text-muted">
          Submitted on
          <%= tender.purchased_at.to_formatted_s(:short) %>
        </small>
      </div>
      <small class="text-muted">
        <%= tender.contractors_email %>
        (<%= tender.contractors_phone_number %>)
      </small>
    </a>

  <% end.empty? %>
    <div class="d-flex w-100 align-items-center justify-content-center
                        min-height-500 rounded"
         style="background: #ddd">
      <p>
        No contractor has submitted yet
      </p>
    </div>
  <% end %>
</ul>
