<div class="card-header" role="tab" id="headingBidMade">
  <h5 class="mb-0">
    <a class="collapsed text-success" data-toggle="collapse" href="#collapseBidMade" aria-expanded="false" aria-controls="collapseBidMade">
      Submitted
      <small>
        <span class="badge badge-pill badge-success">
          <%= @request.participants.submitted.count %>
        </span>
      </small>
    </a>
  </h5>
</div>
<div id="collapseBidMade" class="collapse" role="tabpanel" aria-labelledby="headingBidMade" data-parent="#accordion">
  <div class="card-body">
    <ul class="list-group">
      <% @request.participants.submitted.each do |participant| %>
        <li class="list-group-item w-100 d-flex justify-content-between">
          <div>
            <%= participant.name %>
            <br>
            <small>
              <a href="mailto:<%= participant.project_owners_email %>?subject=<%= "re: Invitation to Tender for #{participant.project_name}" %>"
                 target="_blank">
                <span class="fa fa-user"></span>
                <%= participant.email %>
              </a>
              (<%= participant.phone_number %>)
            </small>
          </div>
          <div>
            <%= participant.submitted_time.to_formatted_s(:long) %>
          </div>
          <div>
            <%= render 'participant_actions', participant: participant %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>