<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="<%= request_for_tender_path(@request_for_tender) %>">
      <%= @request_for_tender.project_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Compare Bids
  </li>
<% end %>

<div class="hello">
  <rates-comparer
    :request-for-tender="<%= @request_for_tender.to_json(
                                 only: [:id,
                                        :tender_figure_address,
                                        :version_number],
                                 methods: :compare_workbook,
                                 include: :excel_file) %>"
    :list_of_items="<%= @request_for_tender.list_of_items.to_json %>"
    :tenders="<%= @request_for_tender.tenders.to_json(
                      only: [ :id, :list_of_rates ],
                      methods: :contractors_company_name
                  ) %>">
  </rates-comparer>
</div>
