<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="<%= request_for_tender_path(@request_for_tender) %>">
      <%= @request_for_tender.project_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Compare Bids
  </li>
<% end %>

<div class="container-fluid" style="padding-left: 0px; padding-right: 15px;">
  <div class="row">
    <div class="col-md-12">

      <div class="hello">
        <rates-comparer
          :list_of_items="<%= @request_for_tender.list_of_items.to_json %>"
          :tenders="<%= @request_for_tender.tenders_including_mine
                        .to_json %>">
        </rates-comparer>
      </div>

    </div>
  </div>
</div>