<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="<%= request_for_tender_path(@request_for_tender) %>">
      <%= @request_for_tender.project_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Compare Bids
  </li>
<% end %>

<div class="container-fluid" style="padding-left: 0px; padding-right: 15px;">
  <div class="row">
    <div class="col-md-12">
      <% if @request_for_tender.bill_of_quantities.present? %>
        <div id='hello' class="mb-5">
          <comparison-boq
          :tenders="<%= @tenders.to_json(include: :rates) %>"
          :workbook-data="<%= @request_for_tender.bill_of_quantities %>"
          currency="<%= @request_for_tender.currency_symbol %>"
          qs-company-name="<%= @request_for_tender.project_owners_company_name %>"
          boq-contract-sum="<%= 100000 %>"
          ></comparison-boq>
        </div>
      <% end %>
    </div>
  </div>
</div>