<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>

  <li class="breadcrumb-item">
    <a href="<%= request_for_tender_path(@request_for_tender) %>">
      <%= @request_for_tender.project_name %>
    </a>
  </li>

  <li class="breadcrumb-item active" aria-current="page">
    Details
  </li>
<% end %>

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-11 mx-auto">


      <div class="px-4 mb-2">General Information</div>

      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= @request_for_tender.project_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= @request_for_tender.published_at.to_formatted_s(:long) %>
            -
            <%= @request_for_tender.deadline.to_formatted_s(:long) %>
          </h6>
          <p class="card-text">
            <%= simple_format @request_for_tender.description %>
          </p>

          <div class="row my-3">
            <div class="col-md-4">
              <strong>Contract class</strong>
              <br>
              <%= contract_class @request_for_tender %>
            </div>
            <div class="col-md-4">
              <strong>Location</strong>
              <br>
              <%= project_location @request_for_tender %>
            </div>
            <div class="col-md-4">
              <strong>Project currency</strong>
              <br>
              <%= project_currency @request_for_tender %>
            </div>
          </div>
        </div>

      </div>

      <div class="px-4 mb-2">Tender instructions</div>

      <div class="card mb-4">
        <div class="card-body">
          <h5>Instructions</h5>
          <%= simple_format @request_for_tender.tender_instructions,
                            { class: 'formatted_content trix-content' },
                            {wrapper_tag: 'div' } %>
        </div>

        <div class="card-body">
          <h5>Required Documents</h5>
          <p class="card-text">
            All participating contractors are expected to provide the following documents with this tender:
          <ol>
            <% @request_for_tender.required_documents.each do |required_document| %>
              <li> <%= required_document.title %> </li>
            <% end %>
          </ol>
          </p>
        </div>
      </div>


      <div class="px-4 mb-2">Bill of Quantities</div>
      <div class="card hello">
        <workbook
          :workbook="<%= @request_for_tender.list_of_items.to_json %>" />
      </div>



    </div>
  </div>
</div>