<div class="container">
  <div class="row">
    <div class="col-md-6 ml-md-auto mr-md-auto pt-4">

      <%= render 'layouts/notice' %>

      <div class="ml-4 mb-2">
        <small>New Request For Tender</small>
      </div>
      <div class="card mb-4">
        <div class="list-group list-group-flush">
          <%= link_to new_request_for_tender_path,  class: 'card-link' do %>
            <div class="card-body text-center">
              New Request For Tender
            </div>
          <% end %>
          <% @requests.not_submitted.each do |request| %>
              <%= link_to edit_request_for_tender_path(request), class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                      <%= request.project_name %>
                    </h5>
                  </div>
                  <small class="text-muted">
                    <%= request.city %>,
                    <% unless request.country.nil? %>
                      <%= request.country.name %>
                    <% end %>
                  </small>
              <% end %>
          <% end %>
        </div>
      </div>


      <div class="ml-4 mb-2">
        <small>Submitted Requests For Tender</small>
      </div>
      <div class="card">
        <div class="list-group list-group-flush">
          <% if @requests.submitted.each do |request| %>
              <%= link_to request, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                      <%= request.project_name %>
                    </h5>
                    <small class="text-muted">
                      <% if !request.submitted? %>
                          <span class="badge badge-pill badge-secondary"><%= request.status %></span>
                      <% elsif request.deadline.past? %>
                          <span class="badge badge-pill badge-success"><%= request.status %></span>
                      <% else %>
                          <span class="badge badge-pill badge-warning"><%= request.status %></span>
                      <% end %>
                    </small>
                  </div>
                  <small class="text-muted">
                    <%= request.city %>,
                    <% unless request.country.nil? %>
                      <%= request.country.name %>
                    <% end %>
                  </small>
              <% end %>
          <% end.empty? %>
              <div class="list-group-item flex-column align-items-start">
                You have no submitted requests
              </div>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>