<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <a href="<%= root_path %>">
        Home
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @request_for_tender.project_name %>
    </li>
<% end %>

<div class="container">
  <div class="row pt-4">

    <div class="col-xl-9 col-lg-11 mx-auto mb-4">
      <div class="hello">
        <%= render 'request_status_summary' %>

        <%= render 'request_status_detail' %>

        <%= render 'request_for_tender_information' %>
      </div>
    </div>

  </div>
</div>

<button class="btn btn-secondary" title="Go to top" data-back-to-top>Back to Top</button>