<%= form_with(model: quantity_surveyor_rate, local: true) do |form| %>
  <% if quantity_surveyor_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quantity_surveyor_rate.errors.count, "error") %> prohibited this quantity_surveyor_rate from being saved:</h2>

      <ul>
      <% quantity_surveyor_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sheet_name %>
    <%= form.text_field :sheet_name, id: :quantity_surveyor_rate_sheet_name %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :quantity_surveyor_rate_rate %>
  </div>

  <div class="field">
    <%= form.label :quantity_surveyor_id %>
    <%= form.text_field :quantity_surveyor_id, id: :quantity_surveyor_rate_quantity_surveyor_id %>
  </div>

  <div class="field">
    <%= form.label :boq_id %>
    <%= form.text_field :boq_id, id: :quantity_surveyor_rate_boq_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
