<p id="notice"><%= notice %></p>

<h1>Quantity Surveyor Rates</h1>

<table>
  <thead>
    <tr>
      <th>Sheet name</th>
      <th>Rate</th>
      <th>Quantity surveyor</th>
      <th>Boq</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quantity_surveyor_rates.each do |quantity_surveyor_rate| %>
      <tr>
        <td><%= quantity_surveyor_rate.sheet_name %></td>
        <td><%= quantity_surveyor_rate.rate %></td>
        <td><%= quantity_surveyor_rate.quantity_surveyor %></td>
        <td><%= quantity_surveyor_rate.boq %></td>
        <td><%= link_to 'Show', quantity_surveyor_rate %></td>
        <td><%= link_to 'Edit', edit_quantity_surveyor_rate_path(quantity_surveyor_rate) %></td>
        <td><%= link_to 'Destroy', quantity_surveyor_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quantity Surveyor Rate', new_quantity_surveyor_rate_path %>
