<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-2">
      <div class="text-center mb-4">
        <h2>Set your password</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete:
              "off", placeholder: 'New Password', class: 'form-control',
                               required: true %>
        </div>

        <div class="field">
          <br/>
          <%= f.password_field :password_confirmation, autocomplete: "off",
                               placeholder: 'Confirm Password',
                               class: 'form-control',
                               required: true
          %>
        </div>

        <br/>

        <div class="actions">
          <%= f.submit "Set my password", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <%= render "publishers/shared/links" %>
    </div>
  </div>
</div>
