<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto mt-2">

      <div class="text-center mb-4">
        <h2>Set your password</h2>
      </div>

      <%= form_for(resource,
                   as: resource_name,
                   url: password_path(resource_name),
                   html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.password_field :password,
                               placeholder: :password,
                               autofocus: true,
                               autocomplete: "off",
                               class: 'form-control',
                               'aria-describedby': "passwordHelpBlock",
                               required: true %>
          <% if @minimum_password_length %>
            <small id="passwordHelpBlock" class="form-text text-muted">
              <%= @minimum_password_length %> characters minimum
            </small>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation,
                               placeholder: :password_confirmation,
                               autocomplete: "off",
                               class: 'form-control',
                               required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Set my password",
                       class: 'btn btn-primary',
                       data: {disable_with: "Setting password"} %>
        </div>
      <% end %>

      <%= render "publishers/shared/links" %>

    </div>
  </div>
</div>