<div class="nested-fields mb-4">
  <div class="form-row">
    <div class="col-sm-12">
      <%= f.label :question %>
      <%= f.text_area :title, id: :question_title, placeholder: 'Question Title', rows: 1,
                      class: 'form-control form-control-sm mb-2', data: {'save-on-change': true} %>
    </div>

    <div class="col-sm-4">
      <div class="form-check form-check-inline">
        <%= f.label :can_attach_documents, class: 'form-check-label' do %>
            <%= f.check_box :can_attach_documents, id: :question_can_attach_documents,
                            class: 'form-check-input',
                            data: {'save-on-change': true} %>
            Should attach documents?
        <% end %>
      </div>
    </div>

    <div class="col-sm-5">
    </div>

    <div class="col-sm-3">
      <%= link_to_remove_association f, class: 'btn btn-sm btn-block btn-light float-right', data: { 'save-on-click': true } do %>
          REMOVE
      <% end %>
    </div>
  </div>

  <br>
</div>