<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_tender_payment_method_path(@request),
              method: :patch,
              local: true,
              id: 'request-form' do |form| %>
  <%= render 'layouts/create_tender_navigation', location: 'top', request: @request, form: form %>

  <%= render 'request_for_tender_errors' %>

  <div class="form-row">
    <div class="col-md-12">
        <%= form.label :selling_price %> (<%= @request.currency %>)
    </div>
    <div class="col-md-1">
      <%= @request.currency_symbol %>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= form.text_field :selling_price, id: :request_for_tender_selling_price,
                            class: 'form-control form-control-sm' %>
      </div>
    </div>
      <div class="col-md-12">
        <small class="form-text text-muted">
          Please note all sales will incur a service charge of 15% of
          the total selling price.
        </small>
      </div>
  </div>

  <p class="qs-company-name">
    <%= @request.quantity_surveyor.company_name %>
  </p>

  <br>
  <hr>
  <h2>Bank Details</h2>
  <p class="text-muted small ">
    Please provide us with your Bank Account details,
    and how frequently you want your money sent to you
  </p>


  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :bank_name %>
        <%= form.text_field :bank_name, id: :request_for_tender_bank_name,
                            class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :branch_name %>
        <%= form.text_field :branch_name, id: :request_for_tender_bank_branch,
                            class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :account_name %>
        <%= form.text_field :account_name, id: :request_for_tender_account_name,
                            class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :account_number %>
        <%= form.text_field :account_number, id: :request_for_tender_account_nunber,
                            class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :withdrawal_frequency %>
        <%= form.select :withdrawal_frequency, {'Monthly': 'Monthly', 'Every 2 weeks': 'Every 2 weeks', 'Weekly': 'Weekly' }, {},
                        { id: :request_for_tender_frequency_of_receiving_sales, class: 'form-control form-control-sm' } %>
      </div>
    </div>
  </div>

  <%= render 'layouts/create_tender_navigation', location: 'bottom', request: @request, form: form %>
<% end %>

<script>
  function storeBankDetailsInLocalStorage() {
      var company_name = $('.qs-company-name').text();
      localStorage.setItem(company_name+ '-bankname', $('#request_for_tender_bank_name').val());
      localStorage.setItem(company_name+ '-branch', $('#request_for_tender_bank_branch').val());
      localStorage.setItem(company_name+ '-account_name', $('#request_for_tender_account_name').val());
      localStorage.setItem(company_name+ '-account_number', $('#request_for_tender_account_nunber').val());
  }

  function pullBankDetailsFromLocalStorage() {
      var company_name = $('.qs-company-name').text();
      $('#request_for_tender_bank_name').val(localStorage.getItem(company_name+ '-bankname'));
      $('#request_for_tender_bank_branch').val(localStorage.getItem(company_name+ '-branch'));
      $('#request_for_tender_account_name').val(localStorage.getItem(company_name+ '-account_name'));
      $('#request_for_tender_account_nunber').val(localStorage.getItem(company_name+ '-account_number'));
  }

  $('.next-button').click( function (e) {
      storeBankDetailsInLocalStorage();
  });

  $(document).ready( function (e) {
      pullBankDetailsFromLocalStorage();
  });
</script>