<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_tender_boq_path(@request),
              method: :patch,
              local: true,
              id: 'request-form' do |form| %>

  <%= render 'layouts/create_tender_navigation', location: 'top', request: @request, form: form %>

  <%= render 'request_for_tender_errors' %>

  <p class="text-center">Contract Sum: <strong>GHC </strong><span class="contract-sum"></span></p>

  <p class="text-muted small">
    Upload the Bill of Quantities for the project or create one using the templates provided.
  </p>

  <% if @request.bill_of_quantities %>
    <ul class="nav nav-tabs" id="myTab">
      <% JSON.parse(@request.bill_of_quantities)['SheetNames'].each_with_index do |sheet_name, index| %>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if index == 0 %>" data-target="#sheet-<%= index %>" data-toggle="tab">
            <%= sheet_name %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% JSON.parse(@request.bill_of_quantities)['SheetNames'].each_with_index do |sheet_name, index| %>
        <div class="tab-pane <%= 'active' if index == 0 %>" id="sheet-<%= index %>">
          <%= content_tag :div,
                          class: 'boq-excel hot handsontable htRowHeaders htColumnHeaders mb-5',
                          data: {
                              sheet_index: index,
                              boq: @request.bill_of_quantities,
                              qs_company_name: @request.project_owners_company_name,
                              currency: @request.currency_symbol,
                              boq_contract_sum: 10000
                          } do %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-4 text-center">
    <% if @request.bill_of_quantities %>
      <p class="small">
        If you don't like the Bill Of Quantities above,
        <br>
        you can upload a different one using the button below.
      </p>
    <% else %>
      <p class="text-center text-muted small">
        Upload a bill of quantities by choosing an excel file from your computer using the 'Choose File' button,
        <br>
        and clicking the 'Save' button thereafter.
        <br>
        You'll be able to edit the bill of quantities after uploading it.
      </p>
    <% end %>

    <%= form.hidden_field :bill_of_quantities, id: 'workbook-data' %>
    <%= file_field_tag :document, id: 'upload-boq', class: 'form-control-file btn btn-sm btn-primary' %>
  </div>

  <%= render 'layouts/create_tender_navigation', location: 'bottom', request: @request, form: form %>
<% end %>