<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_tender_participants_path(@request),
              method: :patch,
              local: true,
              id: 'request-form' do |form| %>

  <%= render 'layouts/create_tender_navigation', location: 'top', request: @request, form: form %>

  <%= render 'request_for_tender_errors' %>


  <div class="form-row mb-5">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :contractors_portal_link, 'Link to contractor\'s portal', class: 'pb-0 mb-0' %>
        <div class="d-flex w-100 justify-content-between mb-3">
          <small class="form-text text-muted">
            The link below is where contractors can see and purchase this request for tender.
            <br>
            Copy and send it to the contractors you would like to tender for this contract.
          </small>

          <%= link_to 'Preview Contractor\'s Portal', request_for_tender_portal_url(@request), target: '_blank', class: 'btn btn-link btn-sm' %>

        </div>
        <%= text_field_tag :portal_link, request_for_tender_portal_url(@request),
                           {id: :contractors_portal_link, class: 'form-control form-control-sm', onclick: "this.select()" } %>
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-12">

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Limit access to portal
          </label>
        </div>
      </div>

      <div class="form-group">
        <ul class="list-group list-group-flush nested-forms">
          <%= form.fields_for :participants do |participant| %>
            <%= render 'participant_fields', f: participant %>
          <% end %>
          <li class="d-flex w-100 justify-content-between">
            <%= link_to_add_association 'ADD ANOTHER PARTICIPANT', form, :participants, class: 'btn btn-sm btn-block btn-primary my-1' %>
          </li>
        </ul>

        <div class="form-text text-muted d-flex w-100 justify-content-between">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Email participants
            </label>
          </div>

          <button type="button" class="btn btn-link btn-sm"
                  data-toggle="modal" data-target="#email-modal" data-dismiss="modal">
            Preview email
          </button>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/create_tender_navigation', location: 'bottom', request: @request, form: form %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="email-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="email-modal-label">
          Email Preview
        </h5>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 500px; overflow: scroll">
        <%= render 'participant_mailer/participant_email_template', participant: @participant %>
      </div>
    </div>
  </div>
</div>