<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_tender_participants_path(@request),
              method: :patch,
              id: 'request-form' do |form| %>

    <%= render 'layouts/create_tender_navigation', location: 'top', request: @request %>

    <p class="text-muted small">
      Add the contact information of all contractors you are inviting to bid on this project.
    </p>

    <div class="form-group mt-3">
      <ul class="list-group list-group-flush nested-forms">
        <%= form.fields_for :participants do |participant| %>
            <%= render 'participant_fields', f: participant %>
        <% end %>
        <li class="d-flex w-100 justify-content-between">
          <%= link_to_add_association 'ADD ANOTHER PARTICIPANT', form, :participants, class: 'btn btn-sm btn-block btn-primary my-1' %>
        </li>
      </ul>
    </div>

    <%= render 'layouts/create_tender_navigation', location: 'bottom', request: @request %>
<% end %>