<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_request_for_tenders_boq_path(@request),
              method: :patch,
              id: 'request-form' do |form| %>

    <p class="text-muted small">
      Upload the Bill of Quantities for the project or create one using the templates provided.
    </p>

    <%= form.text_field :project_name, type: 'hidden' %>

    <% if @request.boq %>

        <div class="mb-5">

          <nav class="nav nav-tabs" id="myTab" role="tablist">
            <% @request.boq.pages.each_with_index do |page, index| %>
                <div class="nav-item">
                  <a class="nav-link  <%= 'active' if index == 0 %>" id="page-<%= page.id %>-tab" data-toggle="tab"
                     href="#page-<%= page.id %>-content" role="tab" aria-controls="page-<%= page.id %>-tab-content">
                    <%= page.name %>
                  </a>
                </div>
            <% end %>
          </nav>

          <div class="tab-content" id="myTabContent">
            <% @request.boq.pages.each_with_index do |page, index| %>
                <div class="tab-pane <%= 'show active' if index == 0 %>"
                     id="page-<%= page.id %>-content" role="tabpanel" aria-labelledby="page-<%= page.id %>-tab">

                  <div id="sheet-<%= page.id %>" style="height: 500px; overflow: hidden"></div>

                </div>
            <% end %>
          </div>

        </div>
    <% end %>

    <div class="mb-4 text-center">
      <% if @request.boq %>
          <p class="small">
            If you don't like the Bill Of Quantities above,
            <br>
            you can upload a different one using the button below.
          </p>
      <% else %>
          <p class="text-center text-muted small">
            Upload a bill of quantities by choosing an excel file from your computer using the 'Choose File' button,
            <br>
            and clicking the 'Save' button thereafter.
            <br>
            You'll be able to edit the bill of quantities after uploading it.
          </p>
      <% end %>
      <%= form.fields_for :excel do |excel_fields| %>
          <%= excel_fields.file_field :document, class: 'form-control-file btn btn-sm btn-primary',
                                      data: {'save-on-change': true} %>
      <% end %>
    </div>

<% end %>