<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_tender_boq_path(@request),
              method: :patch,
              local: true,
              id: 'request-form' do |form| %>

  <%= render 'layouts/create_tender_navigation', location: 'top', request: @request, form: form %>

  <%= render 'request_for_tender_errors' %>

  <p>Contract Sum: <strong>GHC </strong><span class="contract-sum"></span></p>

  <div class="mb-4 d-flex w-100 justify-content-end">
    <%= form.hidden_field :bill_of_quantities, id: 'workbook-data' %>

    <% if @request.bill_of_quantities.present? %>
      <label for="exampleFormControlFile1" class="mr-2">Replace File</label>
    <% else %>
      <label for="exampleFormControlFile1"  class="mr-2">Upload File</label>
    <% end %>
    <%= file_field_tag :document, id: 'upload-boq', class: 'form-control-file' %>
  </div>

  <p class="text-muted small">
    Upload the Bill of Quantities for the project or create one using the templates provided.
  </p>

  <% if @request.bill_of_quantities.present? %>
    <%= content_tag :div,
                    id: 'bill_of_quantities',
                    class: 'mb-5',
                    data: {
                        boq: @request.bill_of_quantities,
                        qs_company_name: @request.project_owners_company_name,
                        currency: @request.currency_symbol,
                        boq_contract_sum: 10000
                    } do %>
    <% end %>
  <% end %>

  <%= render 'layouts/create_tender_navigation', location: 'bottom', request: @request, form: form %>
<% end %>