<div class="card mb-4">
  <div class="card-body">
    <h4 id="preview-request-project-name" class="card-title"></h4>
    <small>
      <p class="mb-1">
        <strong>Country:</strong>
        <span id="preview-request-project-country"></span>
      </p>
    </small>
    <small>
      <p class="mb-1">
        <strong>Project Owner:</strong>
        <span id="preview-request-project-company-name"><%= @request.quantity_surveyor.company_name %></span>
      </p>
    </small>
    <small>
      <strong>Contact:</strong>
      <span id="preview-request-project-phone-number"><%= @request.quantity_surveyor.phone_number %></span>
    </small>
  </div>
  <div class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-4">
          <strong>City</strong>
        </div>
        <div class="col-lg-8">
          <strong>End date</strong>
        </div>
        <div id="preview-request-project-city" class="col-lg-4">
        </div>
        <div class="col-lg-8">
          <span id="preview-request-project-deadline"></span>
          <span class="ml-3">(UTC+00:00)</span>
        </div>

      </div>
    </li>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    Project Participants
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
      </thead>
      <tbody>
      <% @request.participants.each_with_index do |participant, index| %>
          <tr>
            <th scope="row"><%= index.to_i + 1 %></th>
            <td><%= participant.company_name %></td>
            <td><%= participant.email %></td>
            <td><%= participant.phone_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    Project Description
  </div>
  <div class="card-body">
    <p class="mb-1">
      <span id="preview-request-project-description"></span>
    </p>
  </div>
  <div class="card-header">
    Project Documents
  </div>
  <div class="list-group list-group-flush">
    <% @request.project_documents.each do |project_document| %>
        <% unless project_document.document.file.nil? %>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <%= project_document.document.file.filename %>
              <%= link_to 'View', project_document.document.url, target: '_blank',
                          class: 'btn btn-sm btn-light' %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>