<%= form_with(model: answer_box, local: true) do |form| %>
  <% if answer_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer_box.errors.count, "error") %> prohibited this answer_box from being saved:</h2>

      <ul>
      <% answer_box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :answer_box_question_id %>
  </div>

  <div class="field">
    <%= form.label :participant_id %>
    <%= form.text_field :participant_id, id: :answer_box_participant_id %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, id: :answer_box_answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
