<%= form_with(model: rate, local: true) do |form| %>
  <% if rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sheet_name %>
    <%= form.text_field :sheet_name, id: :rate_sheet_name %>
  </div>

  <div class="field">
    <%= form.label :row %>
    <%= form.number_field :row, id: :rate_row %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :rate_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
