<% if location == 'bottom' %>
  <hr>
<% end %>

<div class="w-100 d-flex <%= location == 'top' ? 'justify-content-between' : 'justify-content-end' %>">

  <% if location == 'top' %>
    <div class="align-self-center">
      <h1>
        <%= 'General Information' if action_name.in? %w(edit_tender_information update_tender_information) %>
        <%= 'Tender Documents' if action_name.in? %w(edit_tender_documents update_tender_documents) %>
        <%= 'Bill Of Quantities' if action_name.in? %w(edit_tender_boq update_tender_boq) %>
        <%= 'Tender Instructions' if action_name.in? %w(edit_tender_required_documents update_tender_required_documents) %>
        <%= 'Payment Method' if action_name.in? %w(edit_tender_payment_method update_tender_payment_method) %>
        <%= 'Distribution' if action_name.in? %w(edit_tender_participants update_tender_participants) %>
      </h1>
    </div>
  <% end %>

  <div class="align-self-center ml-4">
    <% unless action_name == 'edit_tender_information' %>
      <%= form.submit 'Back', class: 'btn btn-primary next-button text-uppercase' %>
    <% end %>

    <%= form.submit 'Save', class: 'btn btn-primary next-button text-uppercase' %>

    <% if action_name == 'edit_tender_participants' %>
      <%= form.submit 'Publish', class: 'btn btn-secondary text-uppercase',
                      data: {confirm: 'Publishing this request for tender means all listed participants will immediately have access to it, and can start placing their bids. Are you sure you want to do so?'} %>
    <% else %>
      <%= form.submit 'Next', class: 'btn btn-primary next-button text-uppercase' %>
    <% end %>
  </div>
</div>


<% if location == 'top' %>
  <hr>
<% end %>