<head>
  <style>.async-hide {
    opacity: 0 !important
  } </style>
  <script>(function (a, s, y, n, c, h, i, d, e) {
    s.className += ' ' + y
    h.start = 1 * new Date
    h.end = i = function () {s.className = s.className.replace(RegExp(' ?' + y), '')};
    (a[n] = a[n] || []).hide = h
    setTimeout(function () {
      i()
      h.end = null
    }, c)
    h.timeout = c
  })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
    {'GTM-52F9XZL': true})</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123912721-1"></script>
  <script>
    window.dataLayer = window.dataLayer || []

    function gtag () {dataLayer.push(arguments)}

    document.addEventListener('turbolinks:load', function (event) {
      if (typeof gtag === 'function') {
        gtag('js', new Date())
        gtag('config', 'UA-123912721-1', {
          'optimize_id': 'GTM-52F9XZL',
          'page_location': event.data.url
        })
        gtag('config', 'AW-785330278')
      }
    })
  </script>

  <!-- Event snippet for Publish a request for tender conversion page
  In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
  <script>
    function gtag_report_conversion (url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url
        }
      }
      gtag('event', 'conversion', {
        'send_to': 'AW-785330278/E3KKCN_viYwBEObgvPYC',
        'transaction_id': '',
        'event_callback': callback
      })
      return false
    }
  </script>


  <title>
    <% if content_for :title %>
      <%= yield :title %>
    <% else %>
      TenderSwift
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#2b3f57"/>

  <% if content_for :favicon %>
    <%= yield :favicon %>
  <% else %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_32/v1520935594/tenderswift-logo-square-inverse.png">
  <% end %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'hello_vue' %>
  <%= stylesheet_pack_tag 'hello_vue' %>
  <%= action_cable_meta_tag %>

  <% if ENV['BUILDPALS_SERVER_NAME'] == 'production_server' %>
    <script>
      window['_fs_debug'] = false
      window['_fs_host'] = 'fullstory.com'
      window['_fs_org'] = '8ECWC'
      window['_fs_namespace'] = 'FS';
      (function (m, n, e, t, l, o, g, y) {
        if (e in m) {
          if (m.console && m.console.log) {
            m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].')
          }
          return
        }
        g = m[e] = function (a, b) {
          g.q ? g.q.push([a, b]) : g._api(a, b)
        }
        g.q = []
        o = n.createElement(t)
        o.async = 1
        o.src = 'https://' + _fs_host + '/s/fs.js'
        y = n.getElementsByTagName(t)[0]
        y.parentNode.insertBefore(o, y)
        g.identify = function (i, v) {
          g(l, {uid: i})
          if (v) g(l, v)
        }
        g.setUserVars = function (v) {
          g(l, v)
        }
        g.identifyAccount = function (i, v) {
          o = 'account'
          v = v || {}
          v.acctId = i
          g(o, v)
        }
        g.clearUserCookie = function (c, d, i) {
          if (!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')) {
            d = n.domain
            while (1) {
              n.cookie = 'fs_uid=;domain=' + d +
                ';path=/;expires=' + new Date(0).toUTCString()
              i = d.indexOf('.')
              if (i < 0) break
              d = d.slice(i + 1)
            }
          }
        }
      })(window, document, window['_fs_namespace'], 'script', 'user')
    </script>

    <script type="text/javascript" charset="utf-8">
      FS.identify('<%= current_publisher ? current_publisher.id : request.remote_ip %>', {
        displayName: '<%= current_publisher ? current_publisher.company_name : "Guest #{request.remote_ip}" %>',
        usersName: '<%= current_publisher ? current_publisher.full_name : 'n/a' %>',
        email: '<%= current_publisher ? current_publisher.email : 'n/a' %>',
        phone_number: '<%= current_publisher ? current_publisher.phone_number : 'n/a' %>',
        ipAddress: '<%= request.remote_ip %>',
        // TODO: Add your own custom user variables here, details at
        // http://help.fullstory.com/develop-js/setuservars.
      })
    </script>
  <% end %>
</head>