<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'buildpals-logo-small-inverse.png', style: 'height: 28px; margin-top: 0px;',
                    alt: 'buildpals - connecting contractors to project leads' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if quantity_surveyor_signed_in? %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="<%= request_for_tenders_path %>"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Request For Tenders
        </a>
        <div class="dropdown-menu" aria-labelledby="request_for_tender_links">
          <%= link_to request_for_tenders_path, class: 'dropdown-item' do %>
              My Tender Requests <span class="sr-only">(current)</span>
          <% end %>
          <%= link_to new_request_for_tender_path, class: 'dropdown-item' do %>
              Create New<span class="sr-only">(current)</span>
          <% end %>
        </div>
      </li>

      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if quantity_surveyor_signed_in? %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="<%= edit_quantity_surveyor_path(current_quantity_surveyor) %>"
               id="account_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-user" aria-hidden="true"></span>
              <%= current_quantity_surveyor.company_name %>
            </a>
            <div class="dropdown-menu fix-screen" aria-labelledby="account_links">
              <%= link_to "Account Information", edit_quantity_surveyor_path(current_quantity_surveyor),
                          class: 'dropdown-item' %>
              <%= link_to "Logout", destroy_quantity_surveyor_session_path, method: :delete,
                          class: 'dropdown-item' %>
            </div>
          </li>

      <% else %>

          <li class="nav-item mr-3">
            <%= link_to 'Login', new_quantity_surveyor_session_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Signup', new_quantity_surveyor_registration_path, class: 'nav-link' %>
          </li>

      <% end %>
    </ul>

  </div>
</nav>