<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buildpals</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.7.2/parsley.min.js"></script>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <%= include_gon %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">

  <%= render 'layouts/navbar' %>

  <div class="wrapper">
    <%= yield %>

    <div class="push"></div>
  </div>

  <!-- FOOTER -->
  <%= render 'layouts/footer' %>

  </body>
</html>
