<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/navbar' %>

    <%= render 'layouts/flash_messages' %>

    <div class="content">

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
