<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%= request_for_tender_path(@tender.request_for_tender) %>">
      <%= @tender.project_name.truncate(30) %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @tender.contractors_company_name.truncate(30) %>
    (<!-- TODO: Display Tender figure in the brackets --> )
  </li>
<% end %>


<% content_for :nav_tabs do %>
  <nav class="nav">
    <a class="nav-item nav-link <%= 'active' if action_name == 'required_documents' %>"
       href="<%= bid_required_documents_path(@tender) %>">
      Required documents
    </a>
    <a class="nav-item nav-link <%= 'active' if action_name == 'boq' %>"
       href="<%= bid_boq_path(@tender) %>">
      Bill Of quantities
    </a>
    <a class="nav-item nav-link <%= 'active' if action_name == 'other_documents' %>"
       href="<%= bid_other_documents_path(@tender) %>">
      Other documents
    </a>
  </nav>
<% end %>

<% content_for :action_items do %>
  <div class="ml-auto">
    <%= render 'bids/rating_bar', tender: @tender %>
  </div>

  <% if @tender.disqualified %>
    <%= button_to 'Add to Shortlist',
                  undo_disqualify_bid_path(@tender),
                  {class: 'btn btn-sm btn-success ml-2'} %>
  <% else %>
    <%= button_to 'Disqualify',
                  disqualify_bid_path(@tender),
                  {class: 'btn btn-sm btn-danger ml-2'} %>
  <% end %>
<% end %>



<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'publishers/navbar' %>

<div class="content">

  <%= render 'publishers/page_head' %>

  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-10 mx-auto">
        <%= render 'layouts/flash_messages' %>

        <div class="tab-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
