<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <a href="<%= request_for_tender_path(@participant.request_for_tender) %>">
        <%= @participant.project_name.truncate(30) %>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @participant.company_name.truncate(30) %> (<%= humanized_money_with_symbol @participant.bid %>)
    </li>
<% end %>


<% content_for :nav_tabs do %>
    <nav class="nav">
      <a class="nav-item nav-link <%= 'active' if action_name == 'boq' %>" href="<%= bid_boq_path(@participant) %>">
        Bill Of Quantities
      </a>
      <a class="nav-item nav-link <%= 'active' if action_name == 'questionnaire' %>" href="<%= bid_questionnaire_path(@participant) %>">
        Requirements
      </a>
      <a class="nav-item nav-link <%= 'active' if action_name == 'contractor_information' %>" href="<%= bid_contractor_information_path(@participant) %>">
        Contractor Information
      </a>
    </nav>
<% end %>

<% content_for :action_items do %>
  <div class="mt-2 ml-auto">
    <%= render 'layouts/rating_bar', participant: @participant %>
  </div>

  <% if @participant.disqualified %>
    <%= button_to "Add to Shortlist",
                  { action: 'undo_disqualify', controller: 'participants' },
                  { class: 'btn btn-sm btn-success mt-2 ml-2' } %>
  <% else %>
    <%= button_to "Disqualify",
                  { action: 'disqualify', controller: 'participants' },
                  { class: 'btn btn-sm btn-danger mt-2 ml-2' } %>
  <% end %>
<% end %>



<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'layouts/navbar' %>

<div class="content">

  <%= render 'layouts/page_head' %>

  <%= yield %>

</div>

<%= render 'layouts/footer' %>

</body>
</html>
