<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <a href="<%= request_for_tender_path(@participant.request_for_tender) %>">
        <%= @participant.project_name.truncate(30) %>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @participant.company_name.truncate(30) %> (<%= humanized_money_with_symbol @participant.bid %>)
    </li>
<% end %>


<% content_for :nav_tabs do %>
    <nav class="nav">
      <a class="nav-item nav-link <%= 'active' if action_name == 'boq' %>" href="<%= bid_boq_path(@participant) %>">
        Bill Of Quantities
      </a>
      <a class="nav-item nav-link <%= 'active' if action_name == 'questionnaire' %>" href="<%= bid_questionnaire_path(@participant) %>">
        Questionnaire
      </a>
      <a class="nav-item nav-link <%= 'active' if action_name == 'messages' %>" href="<%= bid_messages_path(@participant) %>">
        Messages
      </a>
      <a class="nav-item nav-link <%= 'active' if action_name == 'contractor_information' %>" href="<%= bid_contractor_information_path(@participant) %>">
        Contractor Information
      </a>
    </nav>
<% end %>

<% content_for :action_items do %>
    <%= form_with(model: @participant, local: true, id: 'participant-form') do |form| %>
        <input type="hidden" name="commit" value="save_rating">

        <div class="btn-group btn-group-sm" data-toggle="buttons">
          <% if @participant.rating == -1 %>
              <label class="btn btn-success">
                <%= form.radio_button :rating, '0', {id: 'rating_remove', autocomplete: 'off'} %>
                Add
              </label>
          <% else %>
              <label class="btn btn-danger">
                <%= form.radio_button :rating, '-1', {id: 'rating_remove', autocomplete: 'off'} %>
                Remove
              </label>
          <% end %>
          <label class="btn btn-light">
            <%= form.radio_button :rating, '1', {id: 'rating1', autocomplete: 'off'} %>
            <span class="fa fa-star text-secondary <%= 'text-warning' if @participant.rating >= 1 %>"></span>
          </label>
          <label class="btn btn-light">
            <%= form.radio_button :rating, '2', {id: 'rating2', autocomplete: 'off'} %>
            <span class="fa fa-star text-secondary <%= 'text-warning' if @participant.rating >= 2 %>"></span>
          </label>
          <label class="btn btn-light">
            <%= form.radio_button :rating, '3', {id: 'rating3', autocomplete: 'off'} %>
            <span class="fa fa-star text-secondary <%= 'text-warning' if @participant.rating >= 3 %>"></span>
          </label>
          <label class="btn btn-light">
            <%= form.radio_button :rating, '4', {id: 'rating4', autocomplete: 'off'} %>
            <span class="fa fa-star text-secondary <%= 'text-warning' if @participant.rating >= 4 %>"></span>
          </label>
          <label class="btn btn-light">
            <%= form.radio_button :rating, '5', {id: 'rating5', autocomplete: 'off'} %>
            <span class="fa fa-star text-secondary <%= 'text-warning' if @participant.rating >= 5 %>"></span>
          </label>
        </div>
    <% end %>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('input[type=radio][name="participant[rating]"]').change(function() {
                console.log("Saving...");
                $('#participant-form').submit();
            });
        });
    </script>
<% end %>



<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'layouts/navbar' %>

<div class="content">

  <%= render 'layouts/page_head' %>

  <%= yield %>

</div>

<%= render 'layouts/footer' %>

</body>
</html>
