<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'layouts/navbar' %>

<%= render 'layouts/page_head' %>

<%= yield %>

</body>
</html>
