<!DOCTYPE html>
<html lang="en">

<%= render 'quantity_surveyors/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'quantity_surveyors/navbar' %>

<%= render 'layouts/flash_messages' %>

<%= render 'quantity_surveyors/page_head' %>

<%= yield %>

</body>
</html>
