<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'publishers/navbar' %>

<%= render 'publishers/page_head' %>


<div class="container">
  <div class="row mt-4">
    <div class="col-md-10 mx-auto">
      <%= render 'layouts/flash_messages' %>
    </div>
  </div>
</div>


<div class="container-fluid" style="padding-left: 0px; padding-right: 15px;">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'layouts/end_of_body_scripts' %>

</body>
</html>
