<% content_for :title do %>
    <%= current_contractor.company_name %>
<% end %>

<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/contractors_navbar' %>

    <div class="content">

      <%= render 'layouts/contractors_page_head' %>

      <%= yield %>

    </div>

    <%= render 'layouts/contractors_footer' unless action_name == 'boq' %>

    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
  </body>
</html>