<% if current_contractor %>
  <% content_for :title do %>
    <%= current_contractor.company_name %>
  <% end %>
<% end %>

<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'contractors/navbar' %>

<div class="content">

  <%= render 'contractors/page_head' %>

  <div class="container">

    <div class="row mt-4">
      <div class="col-lg-12 mx-auto">
        <%= render 'layouts/flash_messages' %>
      </div>
    </div>

    <%= yield %>

  </div>

</div>
</body>
</html>