<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <a href="<%= root_path %>">
        Home
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @request.project_name %>
    </li>
<% end %>




<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>


  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/navbar' %>

    <div class="content">

      <%= render 'layouts/page_head' %>

      <div class="container-fluid">
        <div class="row mt-4">

          <div class="col-md-3">
            <nav class="nav nav-pills flex-column">
              <a class="nav-item nav-link <%= 'active' if action_name == 'edit_tender_information' %>" href="<%= edit_tender_information_path(@request) %>">
                1. General Information
              </a>
              <a class="nav-item nav-link <%= 'active' if action_name == 'edit_tender_boq' %>" href="<%= edit_tender_boq_path(@request) %>">
                2. Bill Of Quantities
              </a>
              <a class="nav-item nav-link <%= 'active' if action_name == 'edit_tender_documents' %>" href="<%= edit_tender_documents_path(@request) %>">
                3. Tender Documents
              </a>
              <a class="nav-item nav-link <%= 'active' if action_name == 'edit_tender_questionnaire' %>" href="<%= edit_tender_questionnaire_path(@request) %>">
                4. Tender Instructions
              </a>
              <a class="nav-item nav-link <%= 'active' if action_name == 'edit_tender_payment_method' %>" href="#">
                5. Payment Method
              </a>
              <a class="nav-item nav-link <%= 'active' if action_name == 'edit_tender_participants' %>" href="<%= edit_tender_participants_path(@request) %>">
                6. Distribution
              </a>
             <div class="nav-item nav-link ">
             </div>
            </nav>
          </div>

          <div class="col-md-9">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
