<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= yield :navbar %>

<%= render 'layouts/flash_messages' %>

<div class="content bg-dark">

  <%= yield %>

</div>

</body>
</html>