<% content_for :title do %>
    <%= @participant.project_owners_company_name %>
<% end %>

<% content_for :favicon do %>
    <link rel="icon" type="image/png" href="<%= cloudinary_url(@participant.project_owners_company_logo.full_public_id, format: 'png', height: 16, crop: :scale,) %>">
<% end %>

<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <a href="#">
        <%= @participant.project_owners_company_name %>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @participant.project_name %>
    </li>
<% end %>

<% content_for :nav_tabs do %>
    <nav class="nav">
      <a class="nav-item nav-link <%= 'active' if action_name == 'project_information' %>" href="<%= participants_project_information_path(@participant) %>">
        1. Project Information
      </a>
      <% if @participant.status.in? %w(participating bid_made) %>
        <a class="nav-item nav-link <%= 'active' if action_name == 'questionnaire' %>" href="<%= participants_questionnaire_path(@participant) %>">
          2. Questionnaire
        </a>
        <a class="nav-item nav-link <%= 'active' if action_name == 'boq' %>" href="<%= participants_boq_path(@participant) %>">
          3. Bill of Quantities
        </a>
        <a class="nav-item nav-link <%= 'active' if action_name == 'results' %>" href="<%= participants_results_path(@participant) %>">
          4. Tendering Results
        </a>
      <% else %>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="This information is not available until you have purchased this tender">
          2. Questionnaire
        </a>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="This information is not available until you have purchased this tender">
          3. Bill of Quantities
        </a>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="This information is not available until you have purchased this tender">
          4. Tendering Results
        </a>
      <% end %>
    </nav>
<% end %>


<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/participants_navbar' %>

    <div class="content">

      <%= render 'layouts/page_head' %>

      <%= yield %>

    </div>

    <%= render 'layouts/participants_footer' %>

  </body>
</html>


<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>