<% content_for :title do %>
    <%= @participant.project_owners_company_name %>
<% end %>

<% content_for :favicon do %>
    <link rel="icon" type="image/png" href="<%= cloudinary_url(@participant.project_owners_company_logo.full_public_id, format: 'png', height: 16, crop: :scale,) %>">
<% end %>

<% content_for :nav_tabs do %>
    <nav class="nav justify-content-center">
      <a class="nav-item nav-link <%= 'active' if action_name == 'project_information' %>" href="<%= participants_project_information_path(@participant) %>">
          1. Project Information
      </a>
      <% if @participant.purchased? %>
        <a class="nav-item nav-link <%= 'active' if action_name == 'tender_documents' %>" href="<%= participants_tender_documents_path(@participant) %>">
          2. Tender Documents
        </a>
        <a class="nav-item nav-link <%= 'active' if action_name == 'boq' %>" href="<%= participants_boq_path(@participant) %>">
          3. Bill of Quantities
        </a>
        <a class="nav-item nav-link <%= 'active' if action_name == 'required_documents' %>" href="<%= participants_required_documents_path(@participant) %>">
          4. Upload Documents
        </a>
        <a class="nav-item nav-link <%= 'active' if action_name == 'results' %>" href="<%= participants_results_path(@participant) %>">
          5. Tendering Results
        </a>
      <% else %>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="Not available until you have purchased this tender">
          2. Tender Documents
        </a>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="Not available until you have purchased this tender">
          3. Bill of Quantities
        </a>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="Not available until you have purchased this tender">
          4. Upload Documents
        </a>
        <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
           data-html="true"
           data-title="Not available until you have purchased this tender">
          5. Tendering Results
        </a>
      <% end %>
    </nav>
<% end %>


<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render 'layouts/participants_navbar' %>

    <div class="content">

      <%= render 'layouts/participants_page_head' %>

      <%= yield %>

    </div>

    <%= render 'layouts/participants_footer' unless action_name == 'boq' %>

  </body>
</html>


<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>