<% content_for :title do %>
  <%= @request_for_tender.project_owners_company_name %>
<% end %>

<% content_for :favicon do %>
  <link rel="icon" type="image/png" href="<%= cloudinary_url(@request_for_tender.project_owners_company_logo.full_public_id, format: 'png', height: 16, crop: :scale,) %>">
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="#">
      <%= @request_for_tender.project_owners_company_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @request_for_tender.project_name %>
  </li>
<% end %>

<% content_for :nav_tabs do %>
  <nav class="nav justify-content-center">
    <a class="nav-item nav-link active" href="#">
      1. Project Information
    </a>
    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      2. Tender Documents
    </a>
    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      3. Bill of Quantities
    </a>
    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      4. Upload Documents
    </a>
  </nav>
<% end %>


<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to '#', class: 'navbar-brand' do %>
    <%= cl_image_tag(@request_for_tender.project_owners_company_logo.full_public_id,
                     format: 'jpg', height: 28, crop: :scale,
                     style: 'height: 28px; margin-top: 0px;',
                     title: @request_for_tender.project_owners_company_name,
                     alt: @request_for_tender.project_owners_company_name)
    %>
    <%= @request_for_tender.project_owners_company_name %>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= @request_for_tender.project_name %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <button class="btn btn-secondary btn-payment-modal" data-toggle="modal" data-target="#paymentModal">
          Purchase Tender Documents for GHC <%= format_price(@request_for_tender.selling_price) %>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="content">

  <%= render 'layouts/participants_page_head' %>

  <%= yield %>

</div>

<%= render 'layouts/participants_footer' %>

</body>
</html>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pay-modal">
        <h5 class="modal-title" id="exampleModalLabel">Make Payment Of Tender Documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="http://res.cloudinary.com/surreal/image/upload/v1518296909/https___hubtel.com_wp-content_themes_hubtel_html_assets_images_buttons_image550-4_bnm4ie.png" width="100%">
        <br/>
        <br/>
        <%= form_with model: @participant,
                      url: pay_public_tender_path,
                      method: :post,
                      local: true, class: 'form-inline' do |form| %>
          <div class="form-row company-details">
            <div class="col-md-6">
              <%= form.label 'Company Name:' %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :company_name, id: :participant_company_name,
                               class: 'form-control form-control-sm mb-2', placeholder: 'eg. TenderSwift Inc', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label 'Email:' %>
            </div>
            <div class="col-md-6">
              <%= form.email_field :email, id: :participant_email,
                                class: 'form-control form-control-sm mb-2', placeholder: 'eg. qwerty@rocketmail.com', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label 'Phone Number:' %>
            </div>
            <div class="col-md-6">
              <%= form.telephone_field :phone_number, id: :participant_phone_number,
                                    class: 'form-control form-control-sm mb-2', placeholder: 'eg. 0508787892', required: true%>
            </div>
          </div>

            <%= form.fields_for :tender_transaction, @participant.tender_transaction do |tender_transaction| %>
              <%= tender_transaction.label 'Mode Of Payment:', class: 'col-md-6 pay-label' %>
              <%= tender_transaction.select :network_code, {'AIRTEL Money': 'AIR', 'MTN Mobile Money': 'MTN', 'TIGO CASH': 'TIG', 'Vodafone Cash': 'VOD' }, {},
                              { id: :participant_tender_transaction_network_code, class: 'form-control col-md-6 network-select' } %>
              <br/>
              <br/>
              <%= tender_transaction.label 'Mobile Money Number:', class: 'col-md-6 mobile-money-number pay-label'%>
              <%= tender_transaction.text_field :customer_number, id: :participant_tender_transaction_customer_number, class: 'form-control col-md-6 mobile-money-number' %>
              <br/>
              <br/>
              <%= tender_transaction.label 'Voucher Code:', class: 'col-md-6 voucher-code pay-label' %>
              <%= tender_transaction.text_field :vodafone_voucher_code, id: :participant_tender_transaction_voucher_code, class: 'form-control col-md-6 voucher-code' %>
              <br/>
              <br/>
              <%= form.text_field :request_for_tender_id, value: @request_for_tender.id, id: :participant_tender_transaction_request_for_tender_id, type: 'hidden' %>
              <%= tender_transaction.text_field :status, value: 'pending', id: :participant_tender_transaction_status, type: 'hidden' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <% end %>
          <%= submit_tag 'Process Payment', class: 'btn btn-primary' %>
          <% end %>
        </div>
        </div>
  </div>
</div>

<script>
    $(document).ready( function (e) {
        $('.voucher-code').each( function (index, element) {
            $(this).css('display', 'none');
        });
        $('.mobile-money-number').each( function (index, element) {
            $(this).css('display', 'inherit');
        });

        $('.network-select').change( function (e) {
            if($('.network-select').val() == 'VOD'){
                $('.voucher-code').each( function (index, element) {
                    $(this).css('display', 'inherit');
                });
                $('.mobile-money-number').each( function (index, element) {
                    $(this).css('display', 'inherit');
                });
            }
            else if($('.network-select').val() == 'CRD'){
                $('.voucher-code').each( function (index, element) {
                    $(this).css('display', 'none');
                });
                $('.mobile-money-number').each( function (index, element) {
                    $(this).css('display', 'none');
                });
            }
            else{
                $('.voucher-code').each( function (index, element) {
                    $(this).css('display', 'none');
                });
                $('.mobile-money-number').each( function (index, element) {
                    $(this).css('display', 'inherit');
                });
            }
        });

    });

</script>