<% content_for :title do %>
  <%= @request_for_tender.project_name %>
<% end %>

<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'contractors/navbar' %>

<%= render 'layouts/flash_messages' %>

<div class="content">

  <%= render 'contractors/page_head' %>

  <%= yield %>

</div>

<%= yield :modals %>

</body>
</html>