<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">


<%= render 'layouts/flash_messages' %>

<div class="content">

  <%= render 'contractors/page_head' %>

  <%= yield %>

</div>

<%= render 'contractors/footer' %>

</body>
</html>