<% content_for :title do %>
  <%= @tender.project_name %> - TenderSwift
<% end %>

<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= contractor_root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @tender.project_name %>
  </li>
<% end %>

<% content_for :action_items do %>
  <% unless @tender.submitted? %>
    <%= button_to 'Submit tender',
                  submit_tender_path(@tender),
                  { method: :patch, class: 'btn btn-sm btn-secondary' } %>
  <% end %>
<% end %>

<% content_for :nav_tabs do %>
  <a class="nav-item nav-link <%= 'active' if action_name == 'project_information' %>" href="<%= tenders_project_information_path(@tender) %>">
    1. Project Information
  </a>
  <% if @tender.purchased? %>
    <a class="nav-item nav-link <%= 'active' if action_name == 'tender_documents' %>" href="<%= tenders_tender_documents_path(@tender) %>">
      2. Tender Documents
    </a>
    <a class="nav-item nav-link <%= 'active' if action_name == 'boq' %>" href="<%= tenders_boq_path(@tender) %>">
      3. Bill of Quantities
    </a>
    <a class="nav-item nav-link <%= 'active' if action_name == 'contractors_documents' %>" href="<%= tenders_contractors_documents_path(@tender) %>">
      4. Upload Documents
    </a>
  <% else %>
    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      2. Tender Documents
    </a>
    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      3. Bill of Quantities
    </a>
    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="bottom"
       data-html="true"
       data-title="Not available until you have purchased this tender">
      4. Upload Documents
    </a>
  <% end %>
<% end %>




<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class="<%= controller_name %> <%= action_name %>">

<%= render 'contractors/navbar' %>

<%= render 'layouts/flash_messages' %>

<div class="content">

  <%= render 'contractors/page_head' %>

  <%= yield %>

</div>

<%= render 'contractors/footer' unless action_name == 'boq' %>

</body>
</html>